---
author: sendevia
---

<div class="p-index">
  <div id="p-index-cardset">
    {% assign latest_post = site.posts | first %}
    <div id="p-index-latest-article">
      <div id="p-index-latest-article--date-container">
        <div id="p-index-latest-article--date-detail">
          <span>fiber_new</span>
          <p>{{ latest_post.date | date: "%y年%-m月%-d日" }}发布了文章</p>
        </div>
        <div id="p-index-latest-article--title">
          <h2>{{ latest_post.title }}</h2>
          <a href="{{ latest_post.url }}">详细阅读</a>
        </div>
      </div>
    </div>

    <a href="/" class="p-index-card">
      <div class="c-card" spec="clear">
        <div class="c-card-impression">
          <span>code_blocks</span>
        </div>
        <div class="c-card-supporting">
          <h3>开发的项目</h3>
        </div>
      </div>
    </a>

    <a href="/" class="p-index-card">
      <div class="c-card" spec="clear">
        <div class="c-card-impression">
          <span>tactic</span>
        </div>
        <div class="c-card-supporting">
          <h3>踩过的坑</h3>
        </div>
      </div>
    </a>

    <a href="/gallery" class="p-index-card">
      <div class="c-card" spec="clear">
        <div class="c-card-impression">
          <span>auto_awesome_mosaic</span>
        </div>
        <div class="c-card-supporting">
          <h3>个人作品集</h3>
        </div>
      </div>
    </a>

    <a href="/posts/" class="p-index-card">
      <div class="c-card" spec="clear">
        <div class="c-card-impression">
          <span>note_stack</span>
        </div>
        <div class="c-card-supporting">
          <h3>还有更多...</h3>
        </div>
      </div>
    </a>
  </div>
</div>