---
title: "开源许可证"
author: "sendevia"
description: ""
color:
impression: ""
toc: false
navigation: true
segment_icon: "package"
segment_title: "开源许可"
published: true
---

<h3>以下是本网站所使用的库和字体</h3>

<table>
  <thead>
    <tr>
      <th>名称</th>
      <th>许可证</th>
      <th>源地址</th>
    </tr>
  </thead>
  <tbody>
    {% for item in site.data.licenses %}
      <tr>
        <td>{{ item.name }}</td>
        <td>
          <button
            class="chip"
            spec="assist"
            icon
            disabled>
            <span>balance</span>
            {{ item.license }}
          </button>
        </td>
        <td>
          <a href="{{ item.repository }}" target="_blank">
            <button
              class="chip"
              spec="assist"
              icon>
              <span>open_in_new</span>
              访问
            </button>
          </a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>