// 600_main-layout
$columns: 4;
& {
  #main-layout-content-flow {
    padding-inline: 12px;
  }

  &[spec="article"] {
    #main-layout-content-flow {
      #main-layout-content-filler [role="doc-endnotes"]ol {
        margin-inline: 0px;
        padding-inline: 0px;
      }

      .main-layout-quicklinks {
        &[spec="previous"],
        &[spec="next"] {
          grid-column: span $columns;
        }
      }
    }
  }
}
