// 1200_main-layout
$columns: 6;
& {
  #main-layout-content-flow {
    grid-template-columns: repeat($columns, 1fr);

    padding-inline: 24px;

    #main-layout-search {
      grid-column: span $columns;
    }

    #main-layout-content-filler {
      grid-column: span $columns;
    }

    #main-layout-scrolltop {
      grid-column: $columns;
    }

    hr {
      grid-column: span $columns;
    }

    .main-layout-footer {
      grid-column: span $columns;
    }
  }

  &[spec="article"] {
    #main-layout-content-flow {
      #main-layout-content-filler {
        grid-template-columns: auto;

        section:nth-child(2) {
          display: none;
        }
      }

      .main-layout-quicklinks {
        &[spec="previous"],
        &[spec="next"] {
          grid-column: span calc($columns / 2);
        }
      }
    }
  }

  &[spec="feed"] {
    #main-layout-content-flow {
      & > {
        h1,
        h6 {
          grid-column: span calc($columns - 1);
        }

        img {
          grid-column: $columns;
        }
      }

      #main-layout-search {
        grid-column: span $columns;
      }
    }
  }
}
