// 1600_main-layout
$columns: 9;
& {
  grid-template-columns: 80px 0px auto;

  #main-layout-content-flow {
    grid-template-columns: repeat($columns, 1fr);
    padding-inline: 6vw;

    #main-layout-search {
      grid-column: span $columns;
    }

    #main-layout-content-filler {
      grid-column: span $columns;
    }

    #main-layout-scrolltop {
      grid-column: $columns;
    }

    hr {
      grid-column: span $columns;
    }

    .main-layout-footer {
      grid-column: span $columns;
    }
  }

  &[spec="article"] {
    #main-layout-content-flow {
      #main-layout-content-filler {
        grid-template-columns: minmax(50vw, 70%) minmax(300px, 30%);
      }

      .main-layout-quicklinks {
        &[spec="previous"],
        &[spec="next"] {
          grid-column: span calc(($columns - 1) / 2);
        }
      }
    }
  }

  &[spec="feed"] {
    #main-layout-content-flow {
      & > {
        h1,
        h6 {
          grid-column: span calc($columns - 2);
        }

        img {
          grid-column: calc($columns - 1) / calc($columns + 1);
        }
      }

      #main-layout-search {
        grid-column: span $columns;
      }
    }
  }
}
