<div class="s-carousel">
  <div id="s-carousel-container" data-scroll="0">
    <button class="s-carousel-control">west</button>
    {% assign featured_posts = site.posts | where: "featured", true | sort: 'date' | reverse %}
    {% assign required_posts = 2 %}
    {% assign total_featured_posts = featured_posts.size %}
    {% for i in (0..required_posts) %}
      {% assign post_index = i | modulo: total_featured_posts %}
      {% assign post = featured_posts[post_index] %}
      {% if post %}
        <a class="s-carousel-article" href="{{ post.url | prepend: site.baseurl }}">
          <span class="s-carousel-article-impression" style="background-image: url('{{ post.impression | default: site.impression }}');" />
          <div class="s-carousel-article-info">
            <h1>{{ post.title }}</h1>
            <h4>{{ post.description }}</h4>
            <div class="s-carousel-featured-tip">
              <span class="s-carousel-featured-tip-icon">editor_choice</span>
            </div>
          </div>
        </a>
      {% endif %}
    {% endfor %}
    <button class="s-carousel-control">east</button>
  </div>
</div>