{% if page.permalink == "/404.html" %}
<!-- 判断是否是404 -->
<!-- 引入404内容 -->
{{ content }}
<!-- 否则正常显示内容 -->
{% else %}
<!-- 页面大标题 -->
<div class="topheader">
  <!-- 标题 -->
  <div class="container">
    <div class="title">
      <h1>{{ page.title }}</h1>
      <!-- 如果存在副标题，则显示 -->
      {% if page.description %}
      <p>{{ page.description }}</p>
      {% endif %}
      <!-- 如果存在标题图片，则显示 -->
      {% if page.header_image %}
      <img
        src="{{ page.header_image }}"
        alt="header image"
        disable-select
        draggable="false"
      />
      <!-- 判断头图结束 -->
      {% endif %}
    </div>
  </div>
</div>
<!-- 主要内容 -->
<div class="content">{{ content }}</div>
<!-- 判断404结束 -->
{% endif %}
