<!-- 头图选择 -->
<!-- 由文章提供 -->
{%- if page.header_image and page.header_image != "" -%} {%- assign headerImage = page.header_image -%}
<!-- 由全局设定提供 -->
{%- elsif site.header_image -%} {%- assign headerImage = site.header_image -%}
<!--  -->
{%- else -%}
<!-- 不设置头图 -->
{%- assign headerImage = false -%} {%- endif -%}

<div id="content-header" {%- if headerImage !="false" -%} spec="large" {%- endif -%}>
  <div class="header-container">
    <span id="title">{{ page.title }}</span>
    <!-- 文章简介 -->
    {%- if page.description and page.description != "" -%}
    <span id="subtitle">{{ page.description }}</span>
    {%- endif -%}

    <!-- 文章头图 -->
    {%- if headerImage != false -%}
    <img src="{{ headerImage }}" id="header_image" alt="头图" />
    {%- endif -%}
  </div>
</div>

<!-- 无内容时显示 -->
{%- assign page_words = page.content | number_of_words: "auto" -%}
<!-- 字数为0 -->
{%- if page_words == 0 -%}
<div id="nothing">
  <h1>o(=•ェ•=)m</h1>
  <h6>这里暂时还什么都没有呢</h6>
</div>
{%- else -%}

<!-- 正常内容 -->
{%- if page.notips == true -%} {{ content }} {%- else -%}
<div class="content-layout">
  <div id="content-tips">
    <!-- 日期 -->
    {%- if page.date -%}
    <div title="{{ page.date | date: '%Y 年 %m 月 %d 日' }}" class="mib" spec="outlined">
      <span>calendar_month</span>
    </div>
    {%- endif -%}

    <!-- 阅读时间 -->
    <div
      title="{%- assign read_estimate = page_words | divided_by: 120 -%} 估计阅读时间：{%- if read_estimate > 0 -%} {{ read_estimate }} {% else -%} 少于 1 {% endif -%}分钟"
      class="mib"
      spec="outlined"
    >
      <span>schedule</span>
    </div>

    <!-- 作者 -->
    {%- if page.author -%}
    <div title="{{ page.author }}" class="mib" spec="outlined">
      <span>person</span>
    </div>
    {%- endif -%}

    <!-- 目录分类 -->
    {%- if page.categories.size > 0 -%}
    <div title="{{ page.categories }}" class="mib" spec="outlined">
      <span>category</span>
    </div>
    {%- endif -%}
  </div>
  <div id="content">{{ content }}</div>
</div>
{%- endif -%} {%- endif -%}
