<!-- 大标题 -->
<div id="content-header">
  <div class="wrapper">
    <span id="title">{{ page.title }}</span>
    {%- if page.description and page.description != "" -%}
    <span id="subtitle">{{ page.description }}</span>
    {%- endif -%}
  </div>
  <div class="impression">
    {%- if page.impression and page.impression != "" -%}
    <!-- 头图 - 设置由文章提供 -->
    {%- assign photograph = page.impression -%}
    <!--  -->
    {%- elsif site.impression -%}
    <!-- 头图 - 设置由全局设定提供 -->
    {%- assign photograph = site.impression -%}
    <!--  -->
    {%- else -%}
    <!-- 头图 - 不设置头图 -->
    {%- assign photograph = false -%} {%- endif -%} {%- if photograph != false -%}
    <img src="{{ photograph }}" alt="{{ page.title }}" />
    {%- endif -%}
  </div>
</div>

{%- assign page_words = page.content | number_of_words: "auto" -%} {%- if page_words == 0 -%}
<!-- 无内容 -->
<div id="nothing">
  <h1>咕咕...这里暂时是空空的呢，待会再来看看吧</h1>
  <span>sentiment_stressed</span>
</div>
{%- else -%}
<!-- 正常内容 -->
<div id="content">{{ content }}</div>
{%- endif -%}

<!-- 文章导航 -->
<div id="posts-navigation">
  {%- if page.previous -%}
  <a href="{{ page.previous.url }}">
    <div class="mcd" spec="clear">
      <div class="mcd-supporting previous-post">
        <p><span>west</span>上一篇</p>
        <h3>{{ page.previous.title }}</h3>
      </div>
    </div>
  </a>
  {%- endif -%} {%- if page.next -%}
  <a href="{{ page.next.url }}">
    <div class="mcd" spec="clear">
      <div class="mcd-supporting next-post">
        <p>下一篇<span>east</span></p>
        <h3>{{ page.next.title }}</h3>
      </div>
    </div>
  </a>
  {%- endif -%}
</div>

<!-- 页脚 -->
{%- include footer.html -%}
