<head>
  {% include meta.html %}
  <link rel="stylesheet" href="/assets/css/main.css?v=22.3.22-0" />
  <link
    href="https://fonts.proxy.ustclug.org/css2?family=Fredoka&family=ZCOOL+XiaoWei&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.proxy.ustclug.org/icon?family=Material+Icons"
    rel="stylesheet"
  />
  <script
    type="text/javascript"
    src="/assets/js/jquery.min.js?v=3.6.0"
  ></script>
  <script
    type="text/javascript"
    src="/assets/js/lottie.min.js?v=5.7.12"
  ></script>
  <title>{{ page.title }} {{ page.description }}</title>
</head>
