<div class="disable-select">
  <div>
    <span class="corner-left">
      <img src="/assets/images/s0_corner_left.svg?v=1.0" alt="corner-left" draggable="false" width="200px"
        height="200px" />
      <span id="restrict-l" />
  </div>
  <div>
    <span class="corner-right">
      <img src="/assets/images/s0_corner_right.svg?v=1.0" alt="corner-right" draggable="false" width="200px"
        height="200px" />
      <span id="restrict-r" />
  </div>
</div>

<div class="btn-item float-btn float-btn toggle-btn">
  <span class="float-btn-icon icon">menu</span>
</div>

<div class="float-index-bg disable-select toggle-item">
  <div class="acrylic-w float-index-content">
    <span class="float-index-item">
      <a href="/">
        <ul>
          <li class="btn-item">首页</li>
        </ul>
      </a>
      <a href="/about">
        <ul>
          <li class="btn-item">关于</li>
        </ul>
      </a>
      <a href="{{ site.github }}/releases/latest">
        <ul>
          <li class="btn-item">下载</li>
        </ul>
      </a>
      <a href="{{ site.github }}/commits/master">
        <ul>
          <li class="btn-item">更新日志</li>
        </ul>
      </a>
    </span>
    <div class="btn-item float-btn-close float-btn">
      <img src="/assets/images/btn-close.svg?v=1.0" alt="close" class="float-btn-icon-close toggle-btn disable-select" />
    </div>
  </div>
</div>