<div class="material-navigation-rail disable-select">
  <!-- 占位符 -->
  <span></span>
  <!-- 页面指示开始 -->
  <div class="destinations">
    <a href="/">
      <div id="segment-inactive">
        <div id="accent">
          <div id="segment-primary-icon">
            <!-- https://fonts.google.com/icons?icon.style=Outlined&icon.set=Material+Icons -->
            <span class="material-icons-outlined" id="segment-icon"> home </span>
          </div>
        </div>
        <p id="label">首页</p>
      </div>
    </a>

    <a href="/about">
      <div id="segment-inactive">
        <div id="accent">
          <div id="segment-primary-icon">
            <span class="material-icons-outlined" id="segment-icon"> person </span>
          </div>
        </div>
        <p id="label">关于我</p>
      </div>
    </a>

    <!-- <a href="/components">
      <div id="segment-inactive">
        <div id="accent">
          <div id="segment-primary-icon">
            <span class="material-icons-outlined" id="segment-icon"> draw </span>
          </div>
        </div>
        <p id="label">M3 组件</p>
      </div>
    </a> -->

    <a href="/gallery">
      <div id="segment-inactive">
        <div id="accent">
          <div id="segment-primary-icon">
            <span class="material-icons-outlined" id="segment-icon"> collections </span>
          </div>
        </div>
        <p id="label">作品集</p>
      </div>
    </a>

    <a href="/posts">
      <div id="segment-inactive">
        <div id="accent">
          <div id="segment-primary-icon">
            <span class="material-icons-outlined" id="segment-icon"> articles </span>
          </div>
        </div>
        <p id="label">文章</p>
      </div>
    </a>

    <!-- <a href="/gifts">
      <div id="segment-inactive">
        <div id="accent">
          <div id="segment-primary-icon">
            <span class="material-icons-outlined" id="segment-icon"> redeem </span>
          </div>
        </div>
        <p id="label">福利</p>
      </div>
    </a> -->
  </div>
  <span></span>
</div>

<script src="/assets/js/components/navigations.js"></script>
