<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/assets/css/main.css?v=1.2" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta
    name="keywords"
    content="osu, osuskin, osu皮肤, sendevia, sao, 刀剑神域"
  />
  <meta name="author" content="sendevia" />
  <title>{{ site.title }} {{ page.title }}</title>
  <script
    type="text/javascript"
    src="/assets/js/jquery.min.js?v=3.6.0"
  ></script>
  <script
    type="text/javascript"
    src="/assets/js/vanilla-tilt.js?v=1.7.0"
  ></script>
  <script
    type="text/javascript"
    src="/assets/js/anime.min.js?/v=3.2.1"
  ></script>
  <script
    type="text/javascript"
    src="/assets/js/lottie.min.js?/v=5.7.7"
  ></script>
</head>
