<head>
  {%- include meta.html -%}
  <link rel="stylesheet" href="/assets/css/m3-main.css?v=3.5.4.12" charset="utf-8" />
  <link href="https://fonts.loli.net/css2?family=Roboto&display=swap" rel="stylesheet" />
  <link href="https://fonts.loli.net/css2?family=Google+Sans&display=swap" rel="stylesheet" />
  <link href="https://fonts.loli.net/css2?family=Google+Sans+Text&display=swap" rel="stylesheet" />
  <link href="https://fonts.loli.net/css2?family=Source+Code+Pro&display=swap" rel="stylesheet" />
  <link href="https://fonts.loli.net/icon?family=Material+Icons&display=block" rel="stylesheet" />
  <link href="https://fonts.loli.net/icon?family=Material+Icons+Outlined&display=block" rel="stylesheet" />
  <script type="application/javascript" src="/assets/js/jquery.min.js?v=3.6.0" charset="utf-8"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  <script>
    MathJax = {
      tex: {
        inlineMath: [["$", "$"]],
        processEscapes: true,
      },
    };
  </script>
  <script type="application/javascript" src="/assets/js/main.js?v=0" charset="utf-8"></script>

  <title>{{ page.title }} {{ page.description }}</title>
</head>
