<div class="mnb">
  <div class="mfb"> menu </div>

  <div class="destinations">
    <a href="/">
      <div id="segment-inactive">
        <div id="accent">
          <div id="segment-primary-icon">
            <!-- https://fonts.google.com/icons?selected=Material+Icons&icon.set=Material+Symbols -->
            <span class="material-symbols-rounded" id="segment-icon"> home </span>
          </div>
        </div>
        <p id="label">首页</p>
      </div>
    </a>

    <a href="/about">
      <div id="segment-inactive">
        <div id="accent">
          <div id="segment-primary-icon">
            <span class="material-symbols-rounded" id="segment-icon"> person </span>
          </div>
        </div>
        <p id="label">关于我</p>
      </div>
    </a>

    <a href="/components">
      <div id="segment-inactive">
        <div id="accent">
          <div id="segment-primary-icon">
            <span class="material-symbols-rounded" id="segment-icon"> draw </span>
          </div>
        </div>
        <p id="label">M3 组件</p>
      </div>
    </a>

    <!-- <a href="/gallery">
      <div id="segment-inactive">
        <div id="accent">
          <div id="segment-primary-icon">
            <span class="material-symbols-rounded" id="segment-icon"> collections </span>
          </div>
        </div>
        <p id="label">作品集</p>
      </div>
    </a> -->

    <a href="/posts">
      <div id="segment-inactive">
        <div id="accent">
          <div id="segment-primary-icon">
            <span class="material-symbols-rounded" id="segment-icon"> article </span>
          </div>
        </div>
        <p id="label">文章</p>
      </div>
    </a>

    <!-- <a href="/gifts">
      <div id="segment-inactive">
        <div id="accent">
          <div id="segment-primary-icon">
            <span class="material-symbols-rounded" id="segment-icon"> redeem </span>
          </div>
        </div>
        <p id="label">福利</p>
      </div>
    </a> -->
  </div>
</div>
<div class="mtp" spec="small-centered">
  <span id="leading-icon">menu</span>
  <h4 id="totop">{{ page.title }}</h4>
  <span id="trailing-icon">search</span>
</div>
<script>
  const navTarget = window.innerWidth;
  if (navTarget > 768) {
    document.querySelector(".mnb").classList.replace("mnb", "mnr");
    document.querySelector(".mtp").style.visibility = "hidden";
  }
</script>
