<head>
  <meta charset="utf-8" />
  <meta name="revised" content="sendevia, 2021" />
  <meta name="description" content="m3 test" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="robots" content="noarchive">
  <link rel="stylesheet" href="/assets/css/m3-main.css?v=1.2.1" />
  <link
    href="https://fonts.proxy.ustclug.org/css2?family=Roboto&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.proxy.ustclug.org/icon?family=Material+Icons&display=block"
    rel="stylesheet"
  />
  <link
    href="https://fonts.proxy.ustclug.org/icon?family=Material+Icons+Outlined&display=block"
    rel="stylesheet"
  />
  <title>{{ page.title }}</title>
</head>
