<div class="m3-navigation-rail">
  <div class="destinations">
    <!-- 标签页面指示开始 -->
    <a href="/">
      <div id="segment-inactive">
        <div id="accent">
          <div id="segment-primary-icon">
            <span class="material-icons-outlined" id="segment-icon">
              <!-- https://fonts.google.com/icons?icon.style=Outlined -->
              home
            </span>
          </div>
        </div>
        <p id="label">首页</p>
      </div>
    </a>

    <a href="/about.html">
      <div id="segment-inactive">
        <div id="accent">
          <div id="segment-primary-icon">
            <span class="material-icons-outlined" id="segment-icon">
              person
            </span>
          </div>
        </div>
        <p id="label">关于我</p>
      </div>
    </a>

    <a href="/components.html">
      <div id="segment-inactive">
        <div id="accent">
          <div id="segment-primary-icon">
            <span class="material-icons-outlined" id="segment-icon">
              draw
            </span>
          </div>
        </div>
        <p id="label">M3 组件</p>
      </div>
    </a>

    <a href="/about-theme.html">
      <div id="segment-inactive">
        <div id="accent">
          <div id="segment-primary-icon">
            <span class="material-icons-outlined" id="segment-icon">
              info
            </span>
          </div>
        </div>
        <p id="label">关于主题</p>
      </div>
    </a>

    <a href="https://drive.sendevia.top">
      <div id="segment-inactive">
        <div id="accent">
          <div id="segment-primary-icon">
            <span class="material-icons-outlined" id="segment-icon">
              storage
            </span>
          </div>
        </div>
        <p id="label">资源网盘</p>
      </div>
    </a>
  </div>
</div>

<script>
  $(document).ready(function () {
    // 控制激活样式
    var currentPage = window.location.pathname;
    $("a[href='" + currentPage + "']")
      .find("#segment-inactive")
      .attr("id", "segment-active")
      .find("span")
      .attr("class", "material-icons");

    // 侧边栏展开控制
    // var clickTime = 1;
    // $("#menu").click(function () {
    //   if (clickTime++ % 2 != 0) {
    //     $(".content-gird").css("grid-template-columns", "200px auto");
    //     $(".m3-navigation-rail").css("width", "200px");
    //     $("#fab").css({
    //       width: "170px",
    //       "box-shadow": "none",
    //       filter: "drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.1))",
    //     });
    //   } else {
    //     $("*").removeAttr("style");
    //     let clickTime = 1;
    //   }
    // });
  });
</script>
