<head>
  {% include meta.html %}
  <link rel="stylesheet" href="/assets/css/m3-main.css?v=1.4" />
  <link
    href="https://fonts.proxy.ustclug.org/css2?family=Roboto&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.proxy.ustclug.org/icon?family=Material+Icons&display=block"
    rel="stylesheet"
  />
  <link
    href="https://fonts.proxy.ustclug.org/icon?family=Material+Icons+Outlined&display=block"
    rel="stylesheet"
  />
  <script
    type="text/javascript"
    src="/assets/js/jquery.min.js?v=3.6.0"
  ></script>
  <title>{{ page.title }}</title>
</head>
