<div class="m3-navigation-rail">
  <div class="menu-fab">
    <div id="menu">
      <span class="material-icons" id="menu-icon"> menu </span>
    </div>

    <div id="fab">
      <a href="/">
        <div id="base">
          <div id="primary-icon">
            <span class="material-icons" id="fab-icon"> apps </span>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="destinations">
    <a href="/">
      <div id="segment-inactive">
        <div id="accent">
          <div id="segment-primary-icon">
            <span class="material-icons-outlined" id="segment-icon">
              home
            </span>
          </div>
        </div>
        <p id="label">首页</p>
      </div>
    </a>

    <a href="/about.html">
      <div id="segment-inactive">
        <div id="accent">
          <div id="segment-primary-icon">
            <span class="material-icons-outlined" id="segment-icon">
              person
            </span>
          </div>
        </div>
        <p id="label">关于我</p>
      </div>
    </a>

    <a href="https://drive.sendevia.top">
      <div id="segment-inactive">
        <div id="accent">
          <div id="segment-primary-icon">
            <span class="material-icons-outlined" id="segment-icon">
              storage
            </span>
          </div>
        </div>
        <p id="label">资源网盘</p>
      </div>
    </a>
  </div>
</div>

<script>
  $(document).ready(function () {
    var currentPage = window.location.pathname;
    $("a[href='" + currentPage + "']")
      .find("#segment-inactive")
      .attr("id", "segment-active")
      .find("span")
      .attr("class", "material-icons");

    var clickTime = 1;
    $("#menu").click(function () {
      if (clickTime++ % 2 != 0) {
        $(".content-gird").css("grid-template-columns", "200px auto");
        $(".m3-navigation-rail").css("width", "200px");
        $("#fab").css({
          width: "170px",
          "box-shadow": "none",
          filter: "brightness(1)",
        });
      } else {
        $("*").removeAttr("style");
      }
    });
  });
</script>
