<div class="material-navigation-rail">
  <div class="destinations">
    <!-- 标签页面指示开始 -->
    <a href="/">
      <div id="segment-inactive">
        <div id="accent">
          <div id="segment-primary-icon">
            <span class="material-icons-outlined" id="segment-icon">
              <!-- https://fonts.google.com/icons?icon.style=Outlined -->
              home
            </span>
          </div>
        </div>
        <p id="label">首页</p>
      </div>
    </a>

    <a href="/about.html">
      <div id="segment-inactive">
        <div id="accent">
          <div id="segment-primary-icon">
            <span class="material-icons-outlined" id="segment-icon">
              person
            </span>
          </div>
        </div>
        <p id="label">关于我</p>
      </div>
    </a>

    <!-- <a href="/components.html">
      <div id="segment-inactive">
        <div id="accent">
          <div id="segment-primary-icon">
            <span class="material-icons-outlined" id="segment-icon">
              draw
            </span>
          </div>
        </div>
        <p id="label">M3 组件</p>
      </div>
    </a>

    <a href="/about-theme.html">
      <div id="segment-inactive">
        <div id="accent">
          <div id="segment-primary-icon">
            <span class="material-icons-outlined" id="segment-icon">
              info
            </span>
          </div>
        </div>
        <p id="label">关于主题</p>
      </div>
    </a>

    <a href="https://drive.sendevia.top">
      <div id="segment-inactive">
        <div id="accent">
          <div id="segment-primary-icon">
            <span class="material-icons-outlined" id="segment-icon">
              storage
            </span>
          </div>
        </div>
        <p id="label">资源网盘</p>
      </div>
    </a> -->
  </div>
</div>

<script>
  $(document).ready(function () {
    // 控制激活样式
    var currentPage = window.location.pathname;
    $("a[href='" + currentPage + "']")
      .find("#segment-inactive")
      .attr("id", "segment-active")
      .find("span")
      .attr("class", "material-icons");
  });
</script>
