<div class="c-navdrawer" show>
  <button class="c-iconbtn" id="c-navdrawer-close-icon">menu_open</button>
  {% capture toc_content %}{% toc %}{% endcapture %}
  <div id="c-navdrawer-container">
    {% if toc_content != "" and page.toc %}
      {{ toc_content }}
    {% else %}
      {% for item in site.posts %}
        <details>
          <summary>
            <a href="{{ item.url }}">{{ item.title }}</a>
          </summary>
        </details>
      {% endfor %}
    {% endif %}
  </div>
  <a id="c-navdrawer-backward" href="/posts">
    <button
      class="c-button"
      spec="text"
      icon>
      <span>west</span>
      查看全部文章
    </button>
  </a>
</div>