<div class="mng" spec="rail" dest="bottom">
  <div class="menu-and-fab">
    <div class="mib">
      <span>menu</span>
    </div>
  </div>

  <div class="destinations">
    <a href="/">
      <div id="segment-inactive">
        <div id="accent">
          <div id="segment-primary-icon">
            <!-- https://fonts.google.com/icons?selected=Material+Icons&icon.set=Material+Symbols -->
            <span>home</span>
          </div>
        </div>
        <p id="label">首页</p>
      </div>
    </a>

    <a href="/posts">
      <div id="segment-inactive">
        <div id="accent">
          <div id="segment-primary-icon">
            <span>article</span>
          </div>
        </div>
        <p id="label">文章</p>
      </div>
    </a>

    <!-- 列出有导航需求的页面 -->
    {%- for s in site.pages -%}
    {%- if s.navigation and s.published == true -%}
    <a href="{{ s.url }}">
      <div id="segment-inactive">
        <div id="accent">
          <div id="segment-primary-icon">
            <span>{{ s.segment_icon }}</span>
          </div>
        </div>
        <p id="label">{{ s.segment_title }}</p>
      </div>
    </a>
    {%- endif -%}
    <!--  -->
    {%- endfor -%}
  </div>
</div>

<!-- 移动端顶栏 -->
<div class="mtb" spec="small-centered">
  <div class="mib" id="mtb-mib-menu">
    <span>menu</span>
  </div>
  <h4 id="mtb-dc-area">
    <span>{{ site.title }}</span>
    <span>{{ page.title }}</span>
  </h4>
  <div class="mib" id="mtb-mib-search">
    <span>search</span>
  </div>
</div>
