{% if page.previous %}
  <a
    href="{{ page.previous.url }}"
    class="s-quickjmp"
    spec="previous">
    <div class="c-card" spec="clear">
      <div class="c-card-supporting">
        <p>上一篇</p>
        <h3>{{ page.previous.title }}</h3>
      </div>
    </div>
  </a>
{%- endif -%}
{%- if page.next -%}
  <a
    href="{{ page.next.url }}"
    class="s-quickjmp"
    spec="next">
    <div class="c-card" spec="clear">
      <div class="c-card-supporting">
        <p>下一篇</p>
        <h3>{{ page.next.title }}</h3>
      </div>
    </div>
  </a>
{% endif %}