{% if page.previous %}
  <a
    href="{{ page.previous.url }}"
    class="JTM-S-QuickJump"
    spec="previous">
    <div class="JTM-C-Card" spec="clear">
      <div class="JTM-C-Card-Supporting">
        <p>上一篇</p>
        <h3>{{ page.previous.title }}</h3>
      </div>
    </div>
  </a>
{%- endif -%}
{%- if page.next -%}
  <a
    href="{{ page.next.url }}"
    class="JTM-S-QuickJump"
    spec="next">
    <div class="JTM-C-Card" spec="clear">
      <div class="JTM-C-Card-Supporting">
        <p>下一篇</p>
        <h3>{{ page.next.title }}</h3>
      </div>
    </div>
  </a>
{% endif %}