<div class="s-unilayout">
  {% include Navigation.liquid %}
  <div class="c-search">
    <div id="c-search-input-box">
      <button class="c-iconbtn">arrow_back</button>
      <input type="search" placeholder="输入内容以检索">
    </div>
    <div id="c-search-results-container"></div>
  </div>
  <div
    id="s-unilayout-content-flow"
    {% assign page_words = page.content | number_of_words: "auto" %}
    {% if page_words == 0 %}
    spec="nocontent"
    {% endif %}>
    {% if include.spec_carousel == "true" %}
      {% include Carousel.liquid %}
    {% elsif include.spec_page_index == "true" %}
      {% include Header.liquid spec_page_index = "true" %}
    {% else %}
      {% include Header.liquid %}
    {% endif %}
    <div
      id="s-unilayout-content-filler"
      {% if include.spec_layout == "article" %}
      spec="article"
      {% endif %}>{% include Content.liquid %}</div>
    {% if page.previous or page.next -%}
      {% include QuickJump.liquid %}
    {%- endif -%}
    <hr spec="wave" />
    {% include Footer.liquid %}
  </div>
</div>