<!-- 文章布局 -->
<div class="JTM-S-UniversalLayout">
  {%- include Navigation.html -%}

  <!-- 文章布局 - 文章流 -->
  <div id="JTM-S-UniversalLayout-ContentFlow">
    {%- if include.has_carousel == "true" -%}
    <!--  -->
    {%- include Carousel.html -%}
    <!--  -->
    {%- elsif include.is_index == "true" -%}
    <!--  -->
    {%- include Header.html is_index = "true" -%}
    <!--  -->
    {%- else -%}
    <!--  -->
    {%- include Header.html -%}
    <!--  -->
    {%- endif -%}

    <!-- 文章布局 - 文章内容 -->
    <div id="JTM-S-UniversalLayout-ContentFiller">{%- include Content.html -%}</div>

    {%- include QuickJump.html -%}

    <hr spec="wave" />
    {%- include Footer.html -%}
  </div>
</div>
