<div class="s-unilayout">
  {% include Navigation.liquid %}
  <div class="c-search">
    <input
      type="text"
      id="c-search-input-box"
      placeholder="输入内容以检索文章的标题、标签、分类、作者...">
    <div id="c-search-results-container"></div>
  </div>
  <div id="s-unilayout-content-flow">
    {% if include.spec_carousel == "true" %}
      {% include Carousel.liquid %}
    {% elsif include.spec_page_index == "true" %}
      {% include Header.liquid spec_page_index = "true" %}
    {% else %}
      {% include Header.liquid %}
    {% endif %}
    <div
      id="s-unilayout-content-filler"
      {% if include.spec_layout == "article" %}
      spec="article"
      {% endif %}>{% include Content.liquid %}</div>
    {% if page.previous or page.next -%}
      {% include QuickJump.liquid %}
    {%- endif -%}
    <hr spec="wave" />
    {% include Footer.liquid %}
  </div>
</div>