<div class="JTM-S-UniversalLayout">
  {% include Navigation.liquid %}
  <div class="JTM-C-Search">
    <input
      type="text"
      id="JTM-C-Search-InputBox"
      placeholder="输入内容以检索文章的标题、标签、分类、作者...">
    <div id="JTM-C-Search-ResultsContainer"></div>
  </div>
  <div id="JTM-S-UniversalLayout-ContentFlow">
    {% if include.spec_carousel == "true" %}
      {% include Carousel.liquid %}
    {% elsif include.spec_page_index == "true" %}
      {% include Header.liquid spec_page_index = "true" %}
    {% else %}
      {% include Header.liquid %}
    {% endif %}
    <div
      id="JTM-S-UniversalLayout-ContentFiller"
      {% if include.spec_layout == "article" %}
      spec="article"
      {% endif %}>{% include Content.liquid %}</div>
    {% if page.previous or page.next -%}
      {% include QuickJump.liquid %}
    {%- endif -%}
    <hr spec="wave" />
    {% include Footer.liquid %}
  </div>
</div>