.columnleft {
  float: left;
  width: 30%;
  left: 70px;
  top: 100px;
}

.columnright {
  float: left;
  width: 50%;
  right: -70px;
  top: 100px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.sign {
  padding: 10px 0px;
  min-width: 200px;
  max-width: 200px;

  h1 {
    font-size: 70px;
  }
}

#warn {
  width: 200px;
  height: 200px;
}

#errcode {
  width: 100px;
  height: 100px;
}

.info-msg {
  padding: 20px 30px 10px 30px;
  text-align: left;

  h2 {
    padding: 0px 0px 30px 0px;
    font-size: 40px;
  }

  p {
    padding: 0px 0px 10px 0px;
    letter-spacing: 2px;
  }
}
