// 1024px 适配

@media screen and (max-width: 1024px) {
  .JTM-S-Carousel #JTM-S-Carousel-PostsList {
    .JTM-S-Carousel-PostItem #JTM-S-Carousel-PostInfo {
      padding-block: 20px;
      padding-inline: 40px;

      h1 {
        @include typescale-style("display-medium");
      }

      h4 {
        @include typescale-style("title-medium");
      }
    }
  }

  #JTM-S-UniversalLayout-ContentFlow {
    .JTM-S-Title {
      flex-direction: column;

      #JTM-S-Title-HeroContainer {
        width: 100%;

        #JTM-S-Title-HeroHeadline {
          @include typescale-style("display-large", $font-size: 8vw, $line-height: 8vw);
        }

        #JTM-S-Title-HeroSubtitle {
          @include typescale-style("headline-large", $font-size: 23rem, $line-height: 23rem);
        }
      }

      #JTM-S-Title-Impression {
        height: 100%;
        width: 100%;
      }
    }

    #JTM-S-UniversalLayout-ContentFiller {
      padding-inline: 6vw;
    }
  }
}
