// 1024px 适配

@media screen and (max-width: 1024px) {
  html,
  body {
    ::-webkit-scrollbar {
      width: 2px;
    }

    .content-flow {
      #content-header {
        flex-direction: column;

        .wrapper {
          height: calc(100% - 6px - 17vw);
          width: 100%;

          #title {
            @include display-medium();

            font-size: 8vw;
            line-height: 8vw;
          }

          #subtitle {
            font-size: 23rem;
            line-height: 23rem;
          }
        }

        .impression {
          height: 100%;
          width: 100%;
        }
      }

      #content {
        padding-inline: 6vw;
      }
    }
  }
}
