// 1100px 适配

@media screen and (max-width: 1100px) {
  .s-scrolltop #s-scrolltop-desktop {
    margin-block-end: 172px;
    margin-inline-end: 30px;
  }

  .s-unilayout {
    .c-search {
      gap: 12px;

      #c-search-results-container {
        grid-template-columns: repeat(2, calc(50% - 7px));
      }
    }

    #s-unilayout-content-flow {
      grid-template-columns: repeat(8, 1fr);

      padding-inline: 12px;

      .s-carousel {
        grid-column: span 8;

        #s-carousel-container .s-carousel-article .s-carousel-article-info {
          padding-block: 40px 20px;
          padding-inline: 30px;

          h1 {
            @include typescale-style("display-medium");
          }

          h4 {
            @include typescale-style("title-medium");
          }
        }
      }

      .s-header {
        grid-column: span 8;

        #s-header-hero-container {
          width: 100%;

          #s-header-hero-headline {
            @include typescale-style("display-large", $font-size: 8vw, $font-weight: 600, $line-height: 8vw);
          }

          #s-header-hero-subtitle {
            @include typescale-style("headline-large", $font-size: 23rem, $line-height: 23rem);
          }
        }

        #s-header-Impression {
          height: 100%;
          width: 100%;
        }
      }

      #s-unilayout-content-filler {
        grid-column: span 8;
      }

      a.s-quickjmp {
        &[spec="previous"] {
          grid-column: 1/5;
        }

        &[spec="next"] {
          grid-column: 5/9;
        }
      }

      hr,
      .s-footer {
        grid-column: span 8;
      }
    }
  }

  .p-index {
    grid-column: span 8;

    #p-index-cardset {
      grid-template-columns: repeat(2, 1fr);

      #p-index-latest-article {
        grid-column: span 2;
      }
    }
  }

  .p-posts #p-posts-timeline .p-posts-timeline-level2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
