// 425px 适配

@media screen and (max-width: 425px) {
  html,
  body {
    .content-flow #content {
      [role="doc-endnotes"]ol {
        margin-inline: 0;
        padding-inline: 0;
      }
    }

    .page-index {
      .timeline {
        .mcp {
          transform: translateX(-10px);
        }

        .index-level1 {
          margin: 0;
        }

        .posts-card {
          width: 100%;
        }
      }
    }
  }
}
