// 425px 适配

@media screen and (max-width: 425px) {
  html,
  body {
    .content-flow {
      #content-header {
        .wrapper {
          padding: 30px;
        }
      }

      #content {
        [role="doc-endnotes"]ol {
          margin-inline: 0;
          padding-inline: 0;
        }
      }

      #nothing {
        flex-direction: column-reverse;

        h1 {
          text-align: center;
        }
      }

      #posts-navigation {
        padding-inline: 6px;
      }

      footer {
        padding: 0;

        #descriptions {
          padding-inline: 24px;
        }
      }
    }

    .page-index {
      .timeline {
        .index-level1 {
          margin: 0;
        }

        .posts-card {
          width: 100%;

          a {
            width: 100%;
          }
        }
      }
    }
  }
}
