// 425px 适配

@media screen and (max-width: 425px) {
  .s-unilayout #s-unilayout-content-flow {
    .s-carousel #s-carousel-container .s-carousel-article .s-carousel-article-info {
      padding-block: 80px 20px;
      padding-inline: 20px;

      text-wrap: wrap;

      h1 {
        @include typescale-style("headline-small");
      }

      h4 {
        @include typescale-style("body-medium");
      }

      .s-header #s-header-hero-container {
        padding: 30px;

        #s-header-hero-headline {
          @include typescale-style("display-large", $font-size: 40rem, $font-weight: 700, $line-height: 40rem);

          word-break: break-word;
        }

        #s-header-hero-subtitle {
          @include typescale-style("display-small", $font-size: 15rem, $font-weight: 400, $line-height: 17rem);
        }
      }

      #s-unilayout-content-filler [role="doc-endnotes"]ol {
        margin-inline: 0;
        padding-inline: 0;
      }

      .s-nocontent {
        flex-direction: column-reverse;

        h1 {
          text-align: center;
        }
      }
    }
  }

  .p-posts #p-posts-timeline {
    .p-posts-timeline-level1 {
      margin: 0;
    }

    .p-posts-timeline-level2 .p-posts-timeline-post-card {
      width: 100%;

      a {
        width: 100%;
      }
    }
  }
}
