// 768px 适配

@media screen and (max-width: 648px) {
  a {
    width: auto;
  }

  .c-dialog[open] {
    animation: var(--md-sys-motion-duration-long4) var(--md-sys-motion-easing-emphasized) 1 normal both c-dialog-container-show-alt;
  }

  .s-notfound #s-notfound-information {
    h1 {
      font-size: 75rem;
    }
    h3 {
      font-size: 20rem;
    }
  }

  .s-scrolltop {
    #s-scrolltop-desktop {
      display: none;
    }

    #s-scrolltop-mobile {
      display: block;

      bottom: 80px;

      margin-block-end: 25px;
      margin-inline-end: 20px;
    }
  }

  .c-navigation {
    &[spec="bar"] {
      grid-row: 2/2;

      visibility: visible;
      z-index: 11;
    }

    &[spec="rail"] {
      visibility: hidden;
    }
  }

  .c-navdrawer {
    left: 0;

    padding-block: 60px 8px;

    #c-navdrawer-close-icon {
      display: block;

      position: fixed;
      left: 4px;
      top: 12px;

      z-index: 11;
    }

    &[show] {
      padding-block: 54px 8px;
    }
  }

  .c-appbar {
    top: 0;

    visibility: visible;
  }

  #s-webinfo {
    display: none;
  }

  .s-unilayout {
    grid-template-columns: none;
    grid-template-rows: auto 80px;

    #s-unilayout-content-flow {
      grid-column: auto;
      grid-row: 1/2;
      grid-template-columns: repeat(4, 1fr);

      padding-block: 64px 120px;
      padding-inline: 12px;

      .s-carousel {
        grid-column: span 4;

        height: 42vh;
        max-height: 480px;
        min-height: 360px;

        margin-inline: 0;

        #s-carousel-container {
          margin: 0;

          .s-carousel-article .s-carousel-article-info {
            padding-block: 40px 20px;
            padding-inline: 30px;

            h1 {
              @include typescale-style("headline-large");
            }

            h4 {
              @include typescale-style("body-large");
            }
          }
        }
      }

      .s-header {
        grid-column: span 4;

        height: calc(55vh - 64px - 80px);

        margin-inline: 0;

        #s-header-hero-container {
          grid-column: span 2;

          padding: 5vw;

          #s-header-hero-headline {
            @include typescale-style("display-large", $font-size: 10vw, $font-weight: 500, $line-height: 10vw);
          }

          #s-header-hero-subtitle {
            @include typescale-style("display-small", $font-size: 18rem, $font-weight: 500, $line-height: 20rem);
          }
        }

        #s-header-Impression {
          grid-column: span 2;
        }
      }

      #s-unilayout-content-filler {
        grid-column: span 4;

        margin-inline: 0;

        background-color: transparent;
      }

      a.s-quickjmp {
        &[spec="previous"] {
          grid-column: span 4;
        }

        &[spec="next"] {
          grid-column: span 4;
        }
      }

      hr {
        grid-column: span 4;
      }

      .s-footer {
        grid-column: span 4;

        #s-footer-description {
          #s-footer-description-theme,
          #s-footer-description-beian {
            align-items: flex-start;
            flex-direction: column;
            gap: 0;
          }
        }

        #s-footer-social-media {
          justify-content: space-evenly;
        }
      }
    }
  }

  .p-index {
    grid-column: span 4;

    #p-index-cardset {
      grid-template-columns: repeat(1, 1fr);

      #p-index-article-summary {
        grid-column: span 1;
      }
    }
  }

  .p-posts {
    align-items: center;
    flex-direction: column-reverse;

    width: 100%;

    margin-inline: 0;
    padding-block: 0;

    #p-posts-timeline .p-posts-timeline-level2 {
      grid-template-columns: repeat(1, 1fr);

      width: 100%;
    }
  }
}
