// 768px 适配

@media screen and (max-width: 768px) {
  html,
  body {
    ::-webkit-scrollbar {
      width: 3px;
    }

    ::-webkit-scrollbar-thumb {
      background-clip: unset;
    }
  }

  a {
    width: auto;
  }

  .JTM-S-404NotFound #JTM-S-404NotFound-Information {
    h1 {
      font-size: 75rem;
    }
    h3 {
      font-size: 20rem;
    }
  }

  .JTM-S-Carousel #JTM-S-Carousel-PostsList {
    height: 300px;

    margin: 0;

    .JTM-S-Carousel-PostItem #JTM-S-Carousel-PostInfo {
      margin-block: 10px;
      margin-inline: 10px;
      padding-block: 20px;
      padding-inline: 30px;

      font-size: 24px;

      border-radius: 30px;
    }

    &[data-scroll="0"] {
      .JTM-S-Carousel-PostItem {
        &:nth-of-type(1) {
          width: calc(100% - 78px);

          #JTM-S-Carousel-PostInfo {
            font-size: 30px;
          }
        }

        &:nth-of-type(2) {
          width: 72px;

          margin-inline-end: 0;

          #JTM-S-Carousel-PostImpression {
            filter: blur(60px);
          }

          #JTM-S-Carousel-PostInfo {
            opacity: 0;
          }
        }

        &:nth-of-type(3) {
          height: 50%;
          width: 0;

          margin-inline-end: 0;

          border: 0 solid transparent;

          opacity: 0;

          #JTM-S-Carousel-PostImpression {
            filter: blur(60px);
          }

          #JTM-S-Carousel-PostInfo {
            opacity: 0;
          }
        }
      }
    }

    &[data-scroll="1"] {
      .JTM-S-Carousel-PostItem {
        &:nth-of-type(1) {
          height: 50%;
          width: 0;

          margin-inline-end: 0;

          border: 0 solid transparent;

          opacity: 0;

          #JTM-S-Carousel-PostImpression {
            filter: blur(60px);
          }

          #JTM-S-Carousel-PostInfo {
            opacity: 0;
          }
        }

        &:nth-of-type(2) {
          width: calc(100% - 78px);

          #JTM-S-Carousel-PostInfo {
            font-size: 30px;
          }
        }

        &:nth-of-type(3) {
          width: 72px;

          margin-inline-end: 0;

          #JTM-S-Carousel-PostImpression {
            filter: blur(60px);
          }

          #JTM-S-Carousel-PostInfo {
            opacity: 0;
          }
        }
      }
    }

    &[data-scroll="2"] {
      .JTM-S-Carousel-PostItem {
        &:nth-of-type(1) {
          height: 50%;
          width: 0;

          margin-inline-end: 0;

          border: 0 solid transparent;

          opacity: 0;

          #JTM-S-Carousel-PostImpression {
            filter: blur(60px);
          }

          #JTM-S-Carousel-PostInfo {
            opacity: 0;
          }
        }

        &:nth-of-type(2) {
          width: 72px;

          #JTM-S-Carousel-PostImpression {
            filter: blur(60px);
          }

          #JTM-S-Carousel-PostInfo {
            opacity: 0;
          }
        }

        &:nth-of-type(3) {
          width: calc(100% - 78px);

          margin-inline-end: 0;

          #JTM-S-Carousel-PostInfo {
            font-size: 30px;
          }
        }
      }
    }
  }

  .JTM-S-CornerFAB {
    margin-block-end: 25px;
    margin-inline-end: 20px;

    bottom: 80px;
  }

  .JTM-S-LoadingSplash {
    height: calc(100% - 164px);
    width: calc(100% - 20px);

    left: 10px;
    top: 74px;
  }

  .JTM-C-Navigation {
    &[spec="bar"] {
      grid-row: 2/2;

      visibility: visible;
      z-index: 11;
    }

    &[spec="rail"] {
      visibility: hidden;
    }
  }

  .JTM-C-NavigationDrawer {
    left: 0;

    #JTM-C-NavigationDrawer-MenuCloseIcon {
      display: block;

      position: absolute;
      left: 3px;
      top: 12px;
    }

    #JTM-C-NavigationDrawer-Section {
      position: relative;
      top: 60px;

      height: calc(100% - 50px);

      padding-block-end: 20px;
      padding-inline: 10px;
    }
  }

  .JTM-C-AppBar {
    top: 0;

    visibility: visible;
  }

  .JTM-S-WebsiteInformation {
    display: none;
  }

  .JTM-S-QuickJump {
    a {
      width: 100%;

      #JTM-S-QuickJump-Previous {
        margin-inline-end: 0;
        margin-block-end: 3px;
      }

      #JTM-S-QuickJump-Next {
        margin-inline-start: 0;
        margin-block-start: 3px;
      }
    }
  }

  .JTM-S-UniversalLayout {
    grid-template-columns: none;
    grid-template-rows: auto 80px;

    #JTM-S-UniversalLayout-ContentFlow {
      grid-column: auto;
      grid-row: 1/2;

      margin: 0;
      padding-block-end: 120px;
      padding-block-start: 115px;
      padding-inline: 10px;

      scroll-padding-top: 180px;

      #JTM-S-UniversalLayout-SiteTitle {
        display: none;
      }

      .JTM-S-Title {
        flex-direction: column;

        margin: 0;

        #JTM-S-Title-HeroContainer {
          grid-column: span 2;

          #JTM-S-Title-HeroHeadline {
            @include display-large($font-size: 45rem, $line-height: 45rem);
          }
        }

        #JTM-S-Title-Impression {
          grid-column: span 2;
        }
      }

      #JTM-S-UniversalLayout-ContentFiller {
        padding: 0 0 36px 0;

        background-color: transparent;
      }
    }
  }

  .JTM-P-Index {
    align-items: center;
    flex-direction: column-reverse;

    width: 100%;

    margin-block-start: 30px;
    margin-inline: 0;
    padding-block: 0;

    #JTM-P-Index-Timeline {
      .JTM-P-Index-Timeline-L1 {
        align-items: center;
      }

      .JTM-P-Index-Timeline-L2 {
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;

        width: 100%;

        #JTM-P-Index-Timeline-PostCard .JTM-P-Index-Timeline-DateDetail {
          left: unset;
          right: 0;

          border-radius: 12px 20px 12px 12px;
        }
      }
    }

    #JTM-P-Index-PersonIntro {
      max-width: 360px;
      min-width: unset;
      width: 80vw;

      margin: auto;

      position: relative;
      top: 0;

      .JTM-P-Index-PersonIntro-Section1 {
        width: 100%;
      }
    }
  }
}
