// 768px 适配

@media screen and (max-width: 768px) {
  html,
  body {
    ::-webkit-scrollbar {
      height: 1px;
      width: 1px;
    }

    a {
      width: auto;
    }

    .content-container {
      margin-left: 0;

      top: 0;

      border-radius: 0;
    }

    .content-flow {
      margin: 0;
      padding: 0 3vw 120px;

      #content-header,
      #content-header[spec="large"] {
        margin-block-start: 80px;
        padding: 0;

        min-height: 0;

        border-radius: 0;

        background-color: var(--md-sys-color-surface);

        clip-path: inset(0 round 15px 15px);

        .header-container {
          padding-block-end: 10px;
          padding-block-start: 240px;

          #title {
            @include display-medium();

            padding-inline-start: 18px;

            line-height: 45rem;
          }

          #subtitle {
            padding-inline-start: 18px;
          }

          #header_image {
            animation: none !important;
            -webkit-mask: none;
            mask: none;
          }
        }
      }

      #content {
        padding: 0 0 36px 0;

        width: 100%;

        .page-index {
          margin-inline: 0;
          padding-block: 0;

          .index-level2 {
            flex-wrap: wrap;
          }
        }
      }

      #posts-navigation {
        a {
          flex-grow: 1;
        }
      }

      #footer-container {
        hr {
          width: 100%;
        }

        footer {
          margin: 0;

          section:nth-child(1) {
            .site-logo {
              margin: 0 0 10px 0;
            }

            .descriptions {
              h3,
              p {
                margin: 0 0 0 6px;
              }
            }
          }
        }
      }
    }

    .right-corner-fabs {
      bottom: 100px;
    }

    .page-index {
      width: 100%;

      margin-block-start: 30px;

      .posts-date-month {
        top: 68px;
      }

      .posts-date-day {
        top: 98px;
      }
    }

    .page-404 {
      #page-404-information {
        h1 {
          font-size: 75rem;
        }
        h3 {
          font-size: 20rem;
        }
      }
    }

    .mng {
      &[spec="bar"] {
        transform: translateY(0%);
        visibility: visible;
        z-index: 11;
      }

      &[spec="rail"] {
        visibility: hidden;
      }
    }

    .mnd {
      margin: 10px;

      left: 0;
      top: 64px;

      height: calc(100% - 164px);
    }

    .mtb {
      visibility: visible;

      &[spec="small-centered"] {
        top: 0;
      }
    }
  }
}
