// 768px 适配

@media screen and (max-width: 768px) {
  html,
  body {
    ::-webkit-scrollbar {
      width: 3px;
    }

    ::-webkit-scrollbar-thumb {
      background-clip: unset;
    }

    a {
      width: auto;
    }

    .website-information {
      display: none;
    }

    .content-container {
      height: calc(100% - 80px);
      width: 100%;

      margin-left: 0;

      top: 0;
      left: 0;

      border-radius: 0;

      #right-corner-fab {
        margin-block-end: 20px;
        margin-inline-end: 10px;

        bottom: 80px;
        right: 10px;
      }
    }

    .content-flow {
      margin: 0;
      padding: 75px 10px 120px;

      #content-header {
        flex-direction: column;

        padding-inline: 0;

        .wrapper {
          #title {
            @include display-medium();

            padding-inline: 30px;

            line-height: 45rem;
          }

          #subtitle {
            padding-inline: 30px;
          }
        }
      }

      #content {
        padding: 0 0 36px 0;

        background-color: transparent;
      }

      #nothing {
        width: 100%;
      }

      #posts-navigation {
        a {
          flex-grow: 1;
        }
      }
    }

    .page-index {
      align-items: center;
      flex-direction: column-reverse;

      width: 100%;

      margin-block-start: 30px;
      margin-inline: 0;
      padding-block: 0;

      .timeline {
        .index-level1 {
          align-items: center;

          .posts-date-year-month {
            top: 68px;
          }
        }

        .index-level2 {
          align-items: center;
          flex-wrap: wrap;
          justify-content: center;

          width: 100%;
        }

        .posts-card .posts-date-day {
          left: unset;
          right: 0;

          border-radius: 12px 20px 12px 12px;
        }
      }

      .person-intro {
        max-width: 360px;
        min-width: unset;
        width: 80vw;

        margin: auto;

        position: relative;
        top: 0;

        .section1 {
          width: 100%;
        }
      }
    }

    .page-404 {
      #page-404-information {
        h1 {
          font-size: 75rem;
        }
        h3 {
          font-size: 20rem;
        }
      }
    }

    .JTM-C-Navigation {
      &[spec="bar"] {
        background-color: var(--via-color-background);

        transform: translateY(0%);
        visibility: visible;
        z-index: 11;
      }

      &[spec="rail"] {
        visibility: hidden;
      }
    }

    .JTM-C-NavigationDrawer {
      height: calc(100% - 164px);

      margin: 10px;

      left: 0;
      top: 64px;
    }

    .JTM-C-AppBar {
      visibility: visible;

      &[spec="small-centered"] {
        top: 0;
      }
    }
  }
}
