// 动画

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes popOut {
  0% {
    transform: scale(0);
  }

  40% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes ripple {
  0% {
    height: calc(var(--ripple-effect-d) * 0.1px);
    width: calc(var(--ripple-effect-d) * 0.1px);

    filter: blur(25px);
    opacity: 0.6;
  }

  20% {
    filter: blur(5px);
  }

  50% {
    filter: blur(0);
  }

  90% {
    opacity: 0;
  }

  100% {
    height: calc(var(--ripple-effect-d) * 2.5px);
    width: calc(var(--ripple-effect-d) * 2.5px);
  }
}

@keyframes JTM-C-ProgressIndicator-Loop {
  0% {
    --JTM-C-ProgressIndicator-Deg: 30deg;
    rotate: 0deg;
  }

  50% {
    --JTM-C-ProgressIndicator-Deg: 300deg;
    transform: rotateZ(0deg);
  }
  100% {
    --JTM-C-ProgressIndicator-Deg: 30deg;
    rotate: 360deg;
    transform: rotateZ(360deg);
  }
}

@keyframes JTM-C-Dialog-Show {
  0% {
    filter: blur(20px);
    transform: scale(1.15);
    opacity: 0;
  }

  30% {
    filter: blur(0px);
  }

  50% {
    transform: scale(1);
  }

  100% {
    opacity: 1;
  }
}

@keyframes JTM-C-Dialog-Close {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  30% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(0.9);
    opacity: 0;
  }
}

@keyframes doc-headline-target {
  from {
    margin-block-end: 36px;

    transform: translateX(-10px);
  }

  to {
    margin-block-end: 6px;

    transform: none;
  }
}

@keyframes doc-noteref-target {
  from {
    box-shadow: 0 0 0 15px var(--md-sys-color-outline);
  }

  to {
    box-shadow: 0 0 0 0 transparent;
  }
}
