@import url("https://fonts.sendevia.top/css2?family=Noto+Sans+SC:wght@200..800&display=block");
@import url("https://fonts.sendevia.top/css2?family=Plus+Jakarta+Sans:wght@200..800&display=block");
@import url("https://fonts.sendevia.top/css2?family=Source+Code+Pro&display=block");

@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-weight: 100 700;
  font-display: block;
  src: url("/assets/fonts/MaterialSymbolsOutlined.woff2") format("woff2");
}

@mixin material-symbols($name: "", $size: 24, $font-size: $size, $line-height: 24) {
  @include JTM-E-UserSelect();
  content: $name;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  direction: ltr;
  display: inline-block;
  font-family: "Material Symbols Outlined";
  font-feature-settings: "liga";
  font-size: #{$size}rem;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: #{$line-height}rem;
  text-rendering: optimizeLegibility;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
}

@mixin typescale-style(
  $type-scale,
  $font-family: var(--md-sys-typescale-#{$type-scale}-family),
  $font-size: var(--md-sys-typescale-#{$type-scale}-size),
  $font-weight: var(--md-sys-typescale-#{$type-scale}-weight),
  $line-height: var(--md-sys-typescale-#{$type-scale}-line-height),
  $letter-spacing: var(--md-sys-typescale-#{$type-scale}-letter-spacing)
) {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}
