// 操作覆盖层

html,
body {
  .JTM-Root {
    &[hide-top-app-bar="true"] {
      .JTM-S-WebsiteInformation {
        width: 40px !important;
      }

      @media screen and (max-width: 768px) {
        .JTM-P-Index {
          .timeline {
            .index-level1 {
              .posts-date-year-month {
                top: 5px;
              }
            }
          }
        }

        .JTM-C-AppBar {
          top: -64px;

          transition: var(--md-sys-motion-duration-medium2);
        }
      }
    }

    &[loaded] {
      .JTM-S-LoadingSplash {
        display: none;
      }

      #JTM-S-UniversalLayout-ContentFlow {
        overflow: overlay;
      }
    }

    &[content-unfocused] {
      pointer-events: none;

      .JTM-S-CornerFAB,
      #JTM-S-UniversalLayout-ContentFlow {
        filter: contrast(0.8);
      }

      @media screen and (max-width: 768px) {
        .JTM-C-Navigation,
        .JTM-C-AppBar {
          filter: contrast(0.8);
        }
      }
    }

    &[body-unfocused] {
      filter: blur(10px);
      opacity: 0.5;
    }
  }
}
