// 操作覆盖层

html,
body {
  .material-theme {
    &[hide-top-app-bar="true"] {
      .website-information {
        width: 40px !important;
      }

      @media screen and (max-width: 768px) {
        .page-index {
          .timeline {
            .index-level1 {
              .posts-date-year-month {
                top: 5px;
              }
            }
          }
        }

        .mtb {
          &[spec="small-centered"] {
            top: -64px;

            transition: 0.3s;
          }
        }

        .mnd {
          top: 0;

          height: calc(100% - 100px);
        }
      }
    }

    &[loaded] {
      .content-loading {
        display: none;
      }

      .content-container {
        overflow: overlay;
      }
    }

    &[content-unfocused] {
      .content-container {
        opacity: 0.3;
        pointer-events: none;
      }
    }

    &[body-unfocused] {
      filter: blur(10px);
      opacity: 0.5;
    }
  }
}
