// 操作覆盖层

[JTM-O-OnScrollEvent="true"] {
  .JTM-C-AppBar {
    top: -64px;

    transition: var(--md-sys-motion-duration-medium2);
  }
}

[JTM-O-OnSiteLoaded="true"] {
  .JTM-C-AppBar {
    opacity: 1;
  }

  .JTM-C-Navigation {
    #JTM-C-Navigation-FAB {
      opacity: 1;
    }

    #JTM-C-Navigation-Destinations {
      opacity: 1;
    }
  }

  .JTM-C-NavigationDrawer[show] {
    opacity: 1;
  }

  .JTM-S-LoadingSplash {
    opacity: 0;
  }

  .JTM-S-UniversalLayout #JTM-S-UniversalLayout-ContentFlow {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

[JTM-O-ContentBlur] {
  .JTM-S-ScrollToTop,
  #JTM-S-UniversalLayout-ContentFlow {
    @include mixin-userselect(none);

    filter: contrast(0.6);
    pointer-events: none;
  }

  @media screen and (max-width: 768px) {
    .JTM-C-Navigation,
    .JTM-C-AppBar {
      filter: contrast(0.6);
      pointer-events: none;
      transition: var(--md-sys-motion-duration-extra-long1) var(--md-sys-motion-easing-standard);
    }
  }
}

[JTM-O-BodyBlur] {
  @include mixin-userselect(none);

  filter: contrast(0.6);
  pointer-events: none;
}
