.container-aboutme {
  text-align: center;

  h1 {
    padding: 15px;
    font-size: 1.6em;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-around;

  a {
    padding: 1em;
  }
}

.item-about {
  margin: 30px;
  line-height: 0%;

  h9 {
    opacity: 0.2;
    font-size: 5em;
    line-height: 0%;
    text-align: center;
    letter-spacing: 5px;
    font-family: Fredoka;
  }
}