.container-title {
  padding: 18px 0px;
  border-bottom: $white-transparent-20 dashed;
}

.container-aboutme {
  text-align: center;

  h1 {
    padding: 15px;
    font-size: 1.6em;
  }
}

.grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  align-content: center;

  a {
    color: $white;
    text-decoration: none;
  }
}

.item-about {
  margin: 30px;
  line-height: 0%;

  h1 {
    line-height: 0%;
    letter-spacing: 5px;
    font-size: 5em;
    text-align: center;
    opacity: 0.2;
  }
}
