@keyframes FloatIn-td {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1);
  }
}

@keyframes FadeIn-lr {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes t-FadeIn {
  0% {
    opacity: 0;
    letter-spacing: 0.15em;
  }

  100% {
    opacity: 1;
    letter-spacing: 0.1em;
  }
}

@keyframes e-FadeOut {
  80% {
    opacity: 0;
  }

  99% {
    display: none;
  }

  100% {
    opacity: 0;
  }
}