@font-face {
  font-family: "SAOUI-Regular";
  font-style: normal;
  font-weight: normal;
  src: url(/assets/fonts/SAOUI-Regular.otf?v=1.0) format("opentype");
}

@font-face {
  font-family: "SAOUI-Bold";
  font-style: normal;
  font-weight: bold;
  src: url(/assets/fonts/SAOUI-Bold.otf?v=1.0) format("opentype");
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/MaterialIcons.otf?v=21.5.11) format("opentype");
}
