footer {
  @extend .flex-box-center;
  top: 100%;
  padding: 20px;
  position: sticky;
  letter-spacing: 5px;
  flex-direction: column;
  font-family: Fredoka;
  position: -webkit-sticky;

  a {
    text-decoration: none;
  }
}

.icon-heart {
  font-size: 1em;
  padding: 0 0 0 0.35em;
}