.container-title {
  @extend .container-flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 2em 0;
  border-bottom: $white-transparent-20 dashed;
  z-index: 1;

  h1 {
    font-size: 4em;
    letter-spacing: 0.1em;
    line-height: 0;
    animation: t-FadeIn 1s ease-out 0.2s 1 both normal;
  }

  p {
    line-height: 0;
    animation: t-FadeIn 1s cubic-bezier(0.39, 0.58, 0.57, 1) 0.5s 1 both normal;
  }

  img {
    @extend .disable-select;
    position: fixed;
    top: 0;
    opacity: 0.2;
  }
}

.btn-menu {
  display: flex;
  position: fixed;
  width: 100%;
  height: 2em;
  bottom: 0;
  right: 0;
  background-color: $white;
  transition: 0.2s;
  z-index: 10;

  &:hover {
    height: 2.5em;
  }

  &:active {
    background-color: $white-transparent-40;
  }
}

.btn-close {
  margin: auto;
  position: relative;
  top: 0;
  right: 0;
  background-color: $transparent;
}

.icon-menu {
  margin: auto;
  align-items: center;
  color: $black;
}

.menu-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $black-transparent-60;
  z-index: 10;
}

.menu-content-bg {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin: 90px auto auto;
  position: relative;
  width: 540px;
  height: 480px;
  box-shadow: 0px 10px 100px $black;
  animation: FloatIn-td 0.5s;
  transition: 0.5s;
}

.menu-item {
  @extend .container-flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;

  a {
    width: 100%;
    color: $black;
    text-decoration: none;
  }

  ul {
    margin: auto;
    padding: 0;
  }

  li {
    margin: 15px auto;
    padding: 20px;
    list-style-type: none;
    text-align: center;
    cursor: url(/assets/images/cursor.cur) 16 16, auto;

    &:hover {
      background: $black-transparent-20;
    }
  }
}

.bg {
  position: absolute;
  opacity: 0.1;
  z-index: 1;

  #aincrad {
    width: 100%;
    height: 100%;
    text-align: center;
    transform: translate3d(0, 0, 0);
  }
}

.overlay {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $white;
  z-index: 15;
}

@media screen and (max-width: 900px) {
  .container-title {
    img {
      width: 200%;
      top: 90%;
      left: 100%;
      transform: translate(-50%, -50%);
    }
  }
}

@media screen and (max-width: 360px) {
  .container-title {
    h1 {
      font-size: 3em;
    }
  }
}

@media screen and (max-width: 600px) {
  .menu-content-bg {
    justify-content: space-around;
    margin: auto;
    width: 100%;
    height: 100%;
    transition: 0.5s;
  }
}

@media screen and (max-height: 600px) {
  .menu-content-bg {
    justify-content: space-evenly;
    margin: auto;
    width: 100%;
    height: 100%;
    transition: 0.5s;
  }

  .btn-close {
    transition: 0.5s;
  }

  .menu-item {
    li {
      margin: auto;
    }
  }
}
