.btn-menu {
  display: flex;
  position: fixed;
  width: 100%;
  height: 2em;
  bottom: 0%;
  background-color: $white;
  transition: 0.2s;
  z-index: 10;

  &:hover {
    height: 2.5em;
  }

  &:active {
    background-color: $white-transparent-40;
  }
}

.btn-close {
  margin: auto;
  position: relative;
  top: 0px;
  right: 0px;
  background-color: $transparent;
}

.icon-menu {
  margin: auto;
  align-items: center;
  color: $black;
}

.menu-bg {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: $black-transparent-60;
  z-index: 10;
}

.menu-content-bg {
  margin: 90px auto auto;
  display: flex;
  position: relative;
  flex-flow: column;
  justify-content: space-between;
  width: 540px;
  height: 480px;
  box-shadow: 0px 10px 100px $black;
  animation: FloatIn-td 0.5s;
  transition: 0.5s;
}

.menu-item {
  @extend .container-flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;

  a {
    color: $black;
    text-decoration: none;
    width: 100%;
  }

  ul {
    margin: auto;
    padding: 0px;
  }

  li {
    margin: 15px auto;
    padding: 20px;
    list-style-type: none;
    text-align: center;
    cursor: url(/assets/images/cursor.cur) 16 16, auto;

    &:hover {
      background: $black-transparent-20;
    }
  }
}

.corner {
  position: fixed;
  top: 0px;
  right: 0px;
  transition: 0.4s;
  z-index: 5;

  &:hover {
    top: -10px;
    opacity: 0.3;
    transition: 0.4s;
  }
}

.bg {
  position: absolute;
  opacity: 0.1;
  z-index: 1;

  #aincrad {
    width: 100%;
    height: 100%;
    transform: translate3d(0, 0, 0);
    text-align: center;
  }
}

.overlay {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: $white;
  z-index: 15;
}

@media screen and (max-width: 600px) {
  .menu-content-bg {
    margin: auto;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    transition: 0.5s;
  }
}

@media screen and (max-height: 600px) {
  .menu-content-bg {
    margin: auto;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    justify-content: space-evenly;
  }

  .btn-close {
    transition: 0.5s;
  }

  .menu-item {
    li {
      margin: auto;
    }
  }
}
