.symbol {
  font-size: 0.4em;
}

p.title {
  position: relative;
  top: -40px;
  text-align: center;
  box-shadow: none;
  color: $white;
}

p.content {
  padding: 0px 85px;
  position: relative;
  color: $white;
  top: -40px;
  font-size: 1.2em;
}

p.content:before {
  content: "·";
  color: $white;
  font-size: 4em;
}

h1 {
  padding: 150px 0px 0px;
  font-size: 4em;
  letter-spacing: 8px;
  text-align: center;
  animation: fadeIn-left-right 1s ease-out 0.2s 1 both normal;
}

h2 {
  padding: 10px 35px 10px;
}

h2:before {
  content: "/ ";
  font-size: 0.7em;
}

h3 {
  text-align: center;
}

span.nav {
  content: "";
  margin: 40px;
  width: 6px;
  height: 80%;
  position: fixed;
  background-color: $white;
  display: none;
}

@media screen and (max-width: 600px) {
  .float-index-content {
    width: 100%;
    height: 100%;
    top: 0px;
    transition: 0.5s;
  }

  .float-btn-close {
    transition: 0.5s;
  }
}

@media screen and (max-height: 600px) {
  .float-index-content {
    width: 100%;
    height: 100%;
    top: 0px;
    transition: 0.5s;
  }

  .float-btn-close {
    transition: 0.5s;
  }
}
