$black: #131313;
$white: #ffffff;
$accent:#ff4949;
$normal:#eeeeee;
$red:   #ff3333;
$green: #14f043;
$blue:  #338bff;
$gray:  #464646;

@font-face {
  font-family: "SAO UI";
  font-style: normal;
  src: url(/assets/fonts/SAOUI-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

html,body {
  background-color: $black;
  margin: auto;
  height: 100%;
  display: block;
  font-family: "SAO UI";
  text-rendering: optimizeLegibility;
  letter-spacing: 2px;
  white-space: nowrap;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  color: #eeeeee;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: center;
  align-items: center;
  margin: auto;
}
.content img {
  max-width: 300px;
  left: 10px;
}
.content h1 {
  font-size: 30px;
}

.material-icons {
  margin: auto;
  font-family: "Material Icons";
  font-size: 24px;
  text-transform: none;
  text-decoration: none;
}

.empty_topbar {
  width: calc(50%);
  background: $white;
}

.footer {
  bottom: 0px;
  position: relative;
  height: 40px;
  width: calc(100%);
  background-color: $gray;
}
.footer p {
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: $white;
}

.nav {
  font-size: 20px;
  font-weight: bold;
  height: 50px;
  width: auto;
  background-color: $white;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  z-index: 1;
  line-height: 2;
  user-select: none;
}
.nav-item {
  transition: 0.2s;
  height: 50px;
}
.nav-item:hover {
  transition: 0.2s;
  background-color: #e7e7e7;
}
.nav-link,
.nav-link:hover {
  color: $black;
}

.navbar-brand h1 {
  color: $black;
  font-size: 25px;
  position: absolute;
  padding: 0px 16px;
  top: 9px;
  z-index: 2;
  user-select: none;
}

#lottie {
  max-width: 50%;
}