$black: #131313;
$white: #fff;

html , body {
  background-color: $black;
  margin: auto;
  height: 100%;
  display: block;
}

@font-face {
  font-family: sao-ui;
  src: url(/assets/fonts/SAOUI-Regular.woff2) format("woff2");
}

#lottie {
  width: 50%;
  height: 35%;
  top: 35%;
  left: 50%;
  position: relative;
  transform: translate(-50% , -50%);
}

#middle {
  top: 40%;
  left: 50%;
  box-sizing: border-box;
  position: relative;
  block-size: 15%;
  transform: translate(-50% , -50%);
  user-select: none;
}

a.button {
  height: 75px;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  transition: 1s;
  text-align: center;
  text-indent: 6px;
  line-height: 80px;
  text-decoration: none;
  font-size: 30px;
  font-family: sao-ui;
  color: $white;
  letter-spacing: 5px;
  cursor: pointer;
}

a.button:hover {
  width: 370px;
  background-color: $white;
  letter-spacing: 10px;
  text-indent: 11px;
  transition: 0.5s;
  color: $black;
}

