.material-navigation-rail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  grid-column-start: 1;
  grid-column-end: 2;

  position: fixed;
  width: 80px;
  height: 100%;

  background: var(--md-sys-color-surface);
  border-right: 1px solid var(--md-sys-color-outline);

  overflow-x: hidden;
  transition: 0.3s cubic-bezier(0.21, 0.66, 0.57, 1);
  @extend .disable-select;
  z-index: 1;

  .destinations {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    margin: 20px 0px;
    position: static;
    width: 100%;
    left: 0px;
    top: calc(50% - 426px / 2 - 45px);

    #segment-active {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0px;

      position: static;
      width: 70px;
      height: 56px;
      left: 5px;
      top: 5px;

      flex: none;
      order: 0;
      align-self: stretch;
      flex-grow: 0;
      margin: 4px 5px;

      #accent {
        display: flex;
        justify-content: center;
        align-items: center;

        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 4px 0px;

        position: static;
        width: 56px;
        height: 32px;
        left: 10%;
        right: 10%;
        top: 0%;
        bottom: 42.86%;

        background: var(--md-sys-color-secondary-container);
        border-radius: 100px;

        #segment-primary-icon {
          position: absolute;
          width: 24px;
          height: 24px;
          color: var(--md-sys-color-on-secondary-container);
        }
      }

      #label {
        flex: none;
        order: 1;
        flex-grow: 0;
        margin: 4px 0px;

        position: static;
        left: 10%;
        right: 10%;
        top: 64.29%;
        bottom: 7.14%;

        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.5px;

        color: var(--md-sys-color-on-surface);
      }
    }

    #segment-inactive {
      @extend #segment-active;

      #accent {
        @extend #accent;
        width: 32px;
        height: 32px;

        background: none;
        transition: 0.3s cubic-bezier(0.08, 0.82, 0.17, 1);

        #segment-primary-icon {
          @extend #segment-primary-icon;
          color: var(--md-sys-color-on-secondary-container);
        }
      }

      #label {
        @extend #label;
        line-height: 0px;
        color: #00000000;
        transition: 0.3s ease-out;
      }

      &:hover {
        #accent {
          width: 56px;
          height: 32px;
          background: var(--md-sys-color-secondary-container);
        }

        #label {
          line-height: 12px;
          color: var(--md-sys-color-on-secondary-container);
        }
      }
    }
  }
}
