@media screen and (max-width: 1024px) {
  html,
  body {
    ::-webkit-scrollbar {
      height: 2px;
      width: 2px;
    }
  }

  .content-flow {
    #content-header[spec="large"] {
      padding: 60px 50px;

      .header-container {
        #title {
          font-size: 13.5vw;
          letter-spacing: -4px;
          line-height: 14.5vw;
          word-break: break-word;

          img {
            top: inherit;

            animation: none;
            opacity: 0.5;
          }
        }
      }
    }

    #content {
      section:nth-child(1) {
        width: 75vw;
      }

      section:nth-child(2) {
        display: none;
      }
    }

    #footer-container {
      hr {
        width: 90%;
      }

      footer {
        margin: 0 8vw;
      }
    }
  }

  .page-404 {
    h1 {
      font-size: 8vh !important;
    }
  }
}
