@media screen and (max-width: 768px) {
  html,
  body {
    ::-webkit-scrollbar {
      height: 2px;
      width: 2px;
    }
  }

  a {
    width: auto;
  }

  .content-grid {
    display: flex;
    flex-wrap: wrap;
  }

  .content-container {
    margin: 0;
    padding: 0 5vw 90px;

    &::before {
      display: none;
    }

    #content-header,
    #content-header[spec="large"] {
      padding: 0;

      background-color: #0000;

      border-radius: 0;

      clip-path: none;

      .header-container {
        padding-block-start: 100px;
        padding-block-end: 10px;

        #title {
          padding-inline-start: 5px;

          font-size: 70em;
        }

        #subtitle {
          padding-inline-start: 8px;
        }

        img {
          display: none;
        }
      }
    }

    #content {
      width: 80vw;
    }

    #footer-container > footer {
      margin: 0;
    }
  }

  .right-corner-fabs {
    bottom: 100px;
  }
}
