// https://m3.material.io/components/progress-indicators/
@property --deg {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.mpi {
  &[spec="circular"] {
    // Firefox兼容
    --deg: 270deg;

    display: block;

    margin: 4px;

    width: 40px;
    height: 40px;

    border: 4px solid var(--md-sys-color-primary);
    border-radius: 100%;

    -webkit-mask: conic-gradient(#000 var(--deg), transparent 0deg);
    mask: conic-gradient(#000 var(--deg), transparent 0deg);

    animation: mpi-circular 2s cubic-bezier(0.45, 0.25, 0.1, 0.8) infinite;
  }
}
