input {
  position: relative;

  &[type="checkbox"],
  &[type="radio"] {
    appearance: none;

    margin: 0;
    padding: 0;

    width: 24px;
    height: 24px;

    font-family: "Material Icons";
    font-size: 24px;

    cursor: pointer;

    &::after {
      color: var(--md-sys-color-on-surface-variant);
    }

    &:checked::after {
      color: var(--md-sys-color-primary);
    }
  }

  &[type="checkbox"] {
    &::after {
      content: "check_box_outline_blank";
    }

    &:checked::after {
      content: "check_box";
    }
  }

  &[type="radio"] {
    &::after {
      content: "radio_button_unchecked";
    }

    &:checked::after {
      content: "radio_button_checked";
    }
  }

  &[type="text"] {
    appearance: none;
    flex-grow: 1;

    padding: 15px 5px 15px 15px;

    width: 220px;
    height: 45px;

    background-color: var(--md-sys-color-surface);

    caret-color: var(--md-sys-color-surface-tint);
    color: var(--md-sys-color-on-surface);

    border-radius: 24px 0 0 24px;
    border: none;
    outline: none;
    transition: 0.6s;

    & + span {
      @extend .disable-select;

      width: 38px;

      background-color: var(--md-sys-color-surface);

      line-height: 1.8;
      font-family: "Material Icons";
      font-size: 25px;

      border-radius: 0 24px 24px 0;
    }
  }
}
