:root {
  .material-theme {
    .disable-select,
    .material-navigation-bar,
    .material-navigation-rail,
    .material-symbols-rounded,
    br {
      -moz-user-select: none;
      -webkit-user-drag: none;
      -webkit-user-select: none;
      user-select: none;
    }

    :disabled,
    [disabled] {
      @extend .disable-select;

      -webkit-filter: grayscale(1);
      box-shadow: none;
      filter: grayscale(1);
      opacity: 0.38;
      pointer-events: none;
    }
  }
}
