// https://m3.material.io/components/chips/
material-chip {
  display: flex;

  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;

  padding: 0 16px;

  height: 32px;
  width: max-content;

  border-radius: 8px;

  transition: 0.4s cubic-bezier(0, 1.2, 1, 1);

  &[icon] {
    gap: 8px;

    padding: 6px 16px 6px 8px;

    span {
      color: var(--md-sys-color-primary);
      font-family: "Material Icons";
      font-size: 18px;
    }
  }

  &.assist {
    border: 1px solid var(--md-sys-color-outline);

    .label-text {
      @extend .label-large;

      position: static;

      color: var(--md-sys-color-on-surface);
      white-space: nowrap;
    }

    &:hover {
      box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.25);

      cursor: pointer;
    }

    &:focus {
      border: 12px solid var(--md-sys-color-outline);
    }

    &[elevated] {
      background: var(--md-sys-color-surface);

      border: none;

      box-shadow: var(--md-sys-elevation-level1);
    }
  }

  &[disabled] {
    span {
      color: var(--md-sys-color-on-surface);
    }

    &[elevated] {
      background: rgba(31, 31, 31, 0.12);
    }
  }
}
