// https://m3.material.io/components/dialogs/
material-dialog {
  .container {
    align-content: flex-start;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 24px;
    justify-content: flex-start;
  }

  &[basic] {
    .container {
      background: var(--md-sys-color-tertiary-container);
      color: var(--md-sys-color-on-tertiary-container);
      padding: 24px;

      border-radius: 28px;

      div {
        h1 {
          @extend .headline-small;
          margin: 0px 0px 8px 0px;
        }

        p {
          @extend .body-medium;
          margin: 8px 0px 0px 0px;
        }
      }
    }
  }
}