// https://m3.material.io/components/navigation-bar/
.material-navigation-bar {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  bottom: 0px;
  height: 80px;
  position: fixed;
  width: 100%;

  background: var(--md-sys-color-surface);
  border-top: 1px solid var(--md-sys-color-outline);

  animation: fade 0.4s;
  overflow-y: hidden;
  z-index: 100;

  .destinations {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    left: 0px;
    margin: 12px 8px 16px 8px;
    position: static;
    top: calc(50% - 426px / 2 - 45px);
    width: 100%;

    #segment-active {
      align-items: center;
      display: flex;
      flex-direction: column;
      padding: 0px;

      height: 56px;
      left: 5px;
      position: static;
      top: 5px;
      width: 70px;

      align-self: stretch;
      flex-grow: 0;
      flex: none;
      margin: 0px 4px 0px 4px;
      order: 0;

      #accent {
        align-items: center;
        display: flex;
        justify-content: center;

        flex-grow: 0;
        flex: none;
        margin: 0px 0px 4px 0px;
        order: 0;

        bottom: 42.86%;
        height: 32px;
        left: 10%;
        position: static;
        right: 10%;
        top: 0%;
        width: 64px;

        background: var(--md-sys-color-secondary-container);
        border-radius: 100px;

        #segment-primary-icon {
          color: var(--md-sys-color-on-secondary-container);
          height: 24px;
          position: absolute;
          width: 24px;

          #segment-icon {
            height: 24px;
            width: 24px;
          }
        }
      }

      #label {
        flex-grow: 0;
        flex: none;
        margin: 0px;
        order: 1;

        bottom: 7.14%;
        left: 10%;
        position: static;
        right: 10%;
        top: 64.29%;

        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.5px;
        line-height: 16px;
        text-align: center;

        color: var(--md-sys-color-on-surface);
      }
    }

    #segment-inactive {
      @extend #segment-active;

      #accent {
        @extend #accent;
        height: 32px;
        width: 32px;

        background: none;
        transition: 0.3s cubic-bezier(0.08, 0.82, 0.17, 1);

        #segment-primary-icon {
          @extend #segment-primary-icon;

          #segment-icon {
            @extend #segment-icon;
          }
        }
      }

      &:hover {
        #accent {
          background: var(--md-sys-color-secondary-container);
          height: 32px;
          width: 64px;
        }
      }
    }
  }
}