$light-primary: #9b4500;
$light-on-primary: #ffffff;
$light-primary-container: #ffdbc6;
$light-on-primary-container: #331200;

$light-secondary: #765847;
$light-on-secondary: #ffffff;
$light-secondary-container: #ffdbc6;
$light-on-secondary-container: #2b1609;

$light-tertiary: #626032;
$light-on-tertiary: #ffffff;
$light-tertiary-container: #e9e5ab;
$light-on-tertiary-container: #1e1c00;

$light-error: #ba1b1b;
$light-on-error: #ffffff;
$light-error-container: #ffdad4;
$light-on-error-container: #410001;

$light-background: #fcfcfc;
$light-on-background: #201a17;
$light-surface: #fcfcfc;
$light-on-surface: #201a17;

$light-outline: #85746b;
$light-surface-variant: #f4ded4;
$light-on-surface-variant: #52443d;

$dark-primary: #ffb68b;
$dark-on-primary: #542100;
$dark-primary-container: #773200;
$dark-on-primary-container: #ffdbc7;

$dark-secondary: #e5beaa;
$dark-on-secondary: #432b1d;
$dark-secondary-container: #5c4132;
$dark-on-secondary-container: #ffdbc7;

$dark-tertiary: #cdc991;
$dark-on-tertiary: #343208;
$dark-tertiary-container: #4b481d;
$dark-on-tertiary-container: #eae5ab;

$dark-error: #ffb4a9;
$dark-on-error: #680003;
$dark-error-container: #930006;
$dark-on-error-container: #ffdad4;

$dark-background: #201a17;
$dark-on-background: #ece0db;
$dark-surface: #201a17;
$dark-on-surface: #ece0db;

$dark-outline: #a08d84;
$dark-surface-variant: #52443d;
$dark-on-surface-variant: #d7c2b8;
