@media screen and (max-width: 425px) {
  .content-flow {
    #content-header,
    #content-header[spec="large"] {
      .header-container {
        #title {
          font-size: 60rem;
        }

        #subtitle {
          font-size: 20em;
        }
      }
    }

    #content {
      section:nth-child(1) {
        h2,
        h3,
        h4,
        h5,
        h6,
        p {
          margin-inline: 30px;
        }
      }
    }
  }

  .page-about .mcd {
    max-width: 100%;
  }
}
