// https://m3.material.io/components/top-app-bar/
.mtb {
  @extend .disable-select;

  position: fixed;
  top: -64px;

  width: 100%;

  letter-spacing: 0;

  overflow: hidden;
  transition: 0.4s;
  visibility: hidden;
  z-index: 15;

  &[spec="small"] {
    height: 64px;
  }

  &[spec="small-centered"] {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    padding: 8px 4px;

    height: 64px;

    background-color: var(--via-color-background);

    h4 {
      display: flex;
      align-items: center;
      flex-direction: column;
      flex-grow: 1;
      justify-content: center;

      margin: auto;

      height: 100%;

      text-align: center;

      span {
        position: absolute;

        line-height: 1;

        transition: transform 0.4s, opacity 1s;

        &:nth-child(1) {
          transform: translateY(0px) scale(1);
          opacity: 1;
        }

        &:nth-child(2) {
          transform: translateY(45px) scale(0.9);
          opacity: 0;
        }
      }
    }

    &[scroll="true"] {
      background-color: var(--md-sys-color-surface);

      box-shadow: var(--md-sys-elevation-level2);

      h4 {
        span {
          &:nth-child(1) {
            transform: translateY(-45px) scale(0.9);
            opacity: 0;
          }

          &:nth-child(2) {
            transform: translateY(0px) scale(1);
            opacity: 1;
          }
        }
      }
    }
  }
}
