* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;

  height: 100%;
  width: 100%;

  font-size: 1px;
  text-rendering: optimizeLegibility;

  -webkit-tap-highlight-color: transparent;
  scrollbar-color: var(--md-sys-color-secondary) #0000;
  scrollbar-width: auto;

  ::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;

    background-color: var(--md-sys-color-secondary);
  }

  ::-webkit-scrollbar-corner,
  ::-webkit-scrollbar-track {
    background: none;
  }

  ::selection {
    color: var(--md-sys-color-surface-variant);
    background: var(--md-sys-color-on-surface-variant);
  }
}

a {
  display: inline-block;

  height: max-content;
  width: max-content;

  color: var(--md-sys-color-primary);
  text-decoration: none;
}

abbr {
  cursor: help;
}

del,
s {
  opacity: 0.5;
}

hr {
  border: 1px solid var(--md-sys-color-outline);

  opacity: 0.3;

  &[spec="wave"] {
    height: 15px;
    width: 100%;

    border-radius: 10px;
    border: none;

    background: var(--md-sys-color-outline);

    -webkit-mask: var(--via-svg-wave) repeat;
    mask: var(--via-svg-wave) repeat;
  }
}

em {
  display: contents;

  font-family: "Smiley Sans";
}

pre {
  overflow: auto;
}

strong {
  text-decoration: underline wavy 2px;
  text-underline-offset: 2px;
}

table {
  display: block;

  max-width: max-content;

  border-collapse: collapse;
  border-radius: 24px;

  box-shadow: 0 0 0 1.5px var(--md-sys-color-outline);

  overflow: auto;

  &::-webkit-scrollbar {
    height: 0;
    width: 0;
  }

  caption {
    @extend .title-medium;

    padding: 16px 0;

    font-weight: bold !important;
    text-transform: uppercase;

    background: var(--md-sys-color-surface-variant);
  }

  thead {
    @extend .body-large;

    white-space: nowrap;

    tr {
      th {
        padding: 16px 24px;

        min-width: 10ch;

        font-weight: 500;
        text-transform: capitalize;

        border-left: 1px solid var(--md-sys-color-outline);
        border-top: 1px solid var(--md-sys-color-outline);

        background: var(--md-sys-color-surface-variant);

        &:first-child {
          border-left: none;
        }

        &:empty {
          border-top: none;
        }
      }

      &:first-child > th {
        border-top: none;
      }

      &:first-child > th:last-child {
        border-right: none;
      }
    }
  }

  tbody {
    @extend .body-large;

    tr {
      vertical-align: top;

      td {
        padding: 16px 24px;

        vertical-align: inherit;

        border-left: 1px solid var(--md-sys-color-outline);
        border-top: 1px solid var(--md-sys-color-outline);

        code {
          white-space: nowrap;
        }

        &:first-child {
          border-left: none;
        }

        &:empty {
          border-top: none;
        }
      }

      &:first-child > td:last-child {
        border-right: none;
      }
    }
  }
}

ul {
  list-style-type: none;
}

ul,
ol {
  padding-inline-start: 20px;

  li {
    @extend .body-large;
  }

  &.task-list {
    padding-inline-start: 1em;

    list-style-type: none;

    .task-list-item {
      margin: 5px 0;

      input {
        line-height: 0;

        &.task-list-item-checkbox {
          display: inline-block;

          padding-right: 5px;

          top: -2px;

          height: inherit;
          width: inherit;

          vertical-align: text-top;
        }
      }
    }
  }
}

.content-loading {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  justify-content: center;

  position: fixed;

  height: 100%;
  width: 100%;

  background-color: var(--md-sys-color-surface);

  transition: 0.5s;
  z-index: 20;

  h1 {
    text-align: center;
  }

  hr {
    width: 69px;
  }
}

.content-container {
  margin-left: 80px;

  position: relative;

  height: 100%;

  border-radius: 12px 0 0 12px;

  background-color: var(--via-color-background);

  overflow: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
  transition: 0.3s;
  z-index: 10;

  &[compress] {
    margin-left: 320px;
  }
}

.content-flow {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 20px;
  grid-column-start: 2;

  padding-block-end: 40px;

  width: 100%;

  animation: fadeIn 1s cubic-bezier(0.5, 1, 0.55, 1) 1 normal both;

  #content-header {
    display: grid;
    align-content: center;

    padding: 120px 64px;

    min-height: 380px;
    width: 100%;

    background-color: var(--md-sys-color-secondary-container);

    clip-path: inset(0 round 0 0 15px 15px);
    overflow: hidden;
    transition: 1s;

    .header-container {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 6px;
      justify-content: center;

      width: 100%;

      #title {
        color: var(--md-sys-color-on-secondary-container);
        font: 130rem/130rem "Google Sans", "Noto Sans SC";
      }

      #subtitle {
        font: 700 25rem "Noto Serif SC";
      }

      #header_image {
        @extend .disable-select;

        height: 100%;
        width: 100%;

        position: fixed;

        left: 0;
        top: 0;

        -webkit-mask: linear-gradient(to right, transparent, #000);
        mask: linear-gradient(to right, transparent, #000);
        object-fit: cover;
        opacity: 0.5;
        pointer-events: none;
        z-index: -1;
      }
    }

    &[spec="large"] {
      padding: 50px 80px;

      min-height: 480px;

      .header-container {
        #title {
          font-size: 140rem;
          line-height: 16vh;
        }
      }
    }
  }

  #toc {
    padding-inline-start: 0;

    .toc-h1 {
      list-style: decimal-leading-zero;
    }

    .toc-h2 {
      list-style: circle;
    }
  }

  .content-layout {
    display: flex;
    flex-direction: row-reverse;

    position: relative;
  }

  #content-tips {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 6px;

    margin-left: 12px;
    padding-block-end: 12px;

    position: sticky;
    top: 12px;

    #reading-progress {
      position: absolute;
      left: 0;
      top: 0;

      height: 100%;

      background-color: var(--md-sys-color-primary);

      opacity: 0.5;
      z-index: -1;
    }
  }

  #content {
    padding-block-end: 36px;

    width: 65vw;

    border-radius: 24px;

    background: var(--md-sys-color-surface);

    & > h1,
    & > h2,
    & > h3,
    & > h4,
    & > h5,
    & > h6 {
      margin-inline: 30px;
      padding-block: 24px 6px;
    }

    & > p {
      margin-inline: 42px;
      padding-block: 6px 6px;

      letter-spacing: 1px;
      line-height: 22px;
    }

    p {
      white-space: break-spaces;
    }

    & > blockquote {
      margin: 18px -6px 0px 18px;
      padding: 24px;

      color: var(--md-sys-color-on-tertiary-container);

      border-radius: 24px 6px 6px 12px;

      background-color: var(--md-sys-color-inverse-on-surface);

      ul,
      ol {
        margin-inline: 0;
        padding-block: 0;
      }

      .task-list-item {
        margin: 0;

        input {
          line-height: 1;

          border-radius: 0;
        }
      }
    }

    & > a {
      padding: 0 5px;

      border-radius: 5px;

      transition: 0.3s;

      &:hover {
        background-color: var(--md-sys-color-on-primary);
      }

      code.language-plaintext,
      code {
        color: var(--md-sys-color-primary);
        font-family: "Source Code Pro", monospace;
        line-height: 1.5;

        background-color: var(--md-sys-color-primary-container);

        transition: 0.3s;

        &:hover {
          background-color: var(--md-sys-color-on-primary);
        }
      }
    }

    & > details {
      margin: 0.5vh 0;

      border: 2px solid #0000;

      overflow: hidden;
      transition: cubic-bezier(0, 1, 1, 1) 0.4s;

      &:active {
        border-radius: 12px;
        border: 2px solid var(--md-sys-color-on-background);
        outline: none;

        box-shadow: inset 0px 0px 0 2px var(--md-sys-color-background);
      }

      img {
        @extend .disable-select;

        display: block;

        border-radius: 10px;
      }

      summary {
        @extend .body-large;

        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 12px;

        padding: 12px 12px 12px 30px;

        cursor: pointer;
        list-style: none;

        &::before {
          @extend .material-symbols-rounded;
          content: "expand_more";

          font-family: "Material Symbols Rounded";

          transform: rotateZ(-90deg);
          transition: 0.5s cubic-bezier(0, 0.25, 0.25, 1);
        }
      }

      &:hover {
        background-color: var(--md-sys-color-inverse-on-surface);
      }

      &[open] {
        summary {
          &:active,
          &:focus-visible {
            border-radius: 24px 24px 0 0;
          }

          &::before {
            transform: rotateZ(0deg);
          }
        }

        border-radius: 24px 24px 12px 12px;

        transition: cubic-bezier(0, 1, 1, 1) 0.3s;
      }
    }

    & > div {
      margin-inline: 42px;
      padding-block: 12px 6px;

      &.footnotes {
        margin-block-start: 6px;
        margin-inline: 6px;
        padding-block: 0;

        ol {
          margin-inline: 24px;
          padding-block: 24px;

          counter-reset: listCounter;

          li {
            counter-increment: listCounter;
            list-style: none;

            &::before {
              content: counter(listCounter);
              display: inline-flex;
              align-items: center;
              justify-content: center;

              margin-inline-end: 12px;

              height: 36px;
              width: 26px;

              color: var(--md-sys-color-on-tertiary-container);
              vertical-align: middle;

              border-radius: 12px;
              background-color: var(--md-sys-color-tertiary-container);
            }

            p {
              display: inline;
            }
          }

          :target p {
            text-decoration: underline wavy;
            text-underline-offset: 4px;
          }
        }
      }
    }

    & > table {
      margin-inline: 42px;
      margin-block: 12px 6px;
    }

    img {
      max-width: 100%;
    }

    ul,
    ol {
      display: grid;
      gap: 12px;

      margin-inline: 40px;
      padding-block: 18px 6px;
    }

    ul {
      padding: 0;
    }

    mjx-container {
      margin-inline: 10px;
    }
  }

  #nothing {
    @extend :disabled;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    margin: 2vw;
    padding: 4vw;

    border-radius: 32px;
    border: 2px dashed var(--md-sys-color-outline);

    h1 {
      margin: 0;
    }

    h6 {
      margin: 0;
    }
  }

  #footer-container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding-top: 5vh;

    width: 100%;

    hr {
      width: 75%;
    }

    ul > li::before {
      display: none;
    }

    footer {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 48px;

      margin: 0 12vw;

      section {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &:nth-child(1) {
          align-items: stretch;

          width: 100%;

          .site-logo {
            margin: 0 0 10px 20px;

            height: 58px;
            width: max-content;

            border-radius: 5px;

            transition: 0.2s;

            img {
              margin: 4px;

              height: 50px;

              -webkit-mask: var(--via-svg-mask) no-repeat 0 / 100%;
              mask: var(--via-svg-mask) no-repeat 0 / 100%;
            }

            &:hover {
              background-color: var(--md-sys-color-surface);
            }

            &:active {
              box-shadow: 0 0 0 2px var(--md-sys-color-secondary);
            }
          }

          .descriptions {
            h3 {
              margin: 0 0 0 26px;

              font-family: "Smiley Sans";
              letter-spacing: 3px;
              text-transform: uppercase;
            }

            p {
              margin: 0 0 0 24px;
            }
          }
        }

        &:nth-child(2) {
          align-items: center;

          padding: 18px 12px 12px 12px;

          border-radius: 26px;

          background-color: var(--md-sys-color-background);

          .site-posts {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;

            p {
              margin: 0;
            }
          }
        }
      }
    }
  }
}

.emoji {
  display: inline-block;

  vertical-align: middle;
}

.right-corner-fabs {
  position: fixed;
  bottom: 20px;
  right: 20px;

  z-index: 11;

  .mfb {
    color: var(--md-sys-color-on-primary-container);

    background-color: var(--md-sys-color-primary-container);
  }

  #rcf-mfb-topbutton {
    opacity: 0;
    visibility: hidden;
  }
}

.page-index {
  .block {
    display: grid;
    justify-items: center;

    .posts-card {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 12px;
      justify-content: center;

      a {
        display: block;
      }

      .mcd {
        cursor: pointer;
      }
    }
  }
}

.page-author {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

  .mcd {
    max-width: 300px;

    .supporting-container {
      display: flex;
      justify-content: center;
    }

    img {
      max-width: 300px;

      -webkit-mask: var(--via-svg-mask) no-repeat 0 / 100%;
      mask: var(--via-svg-mask) no-repeat 0 / 100%;
    }
  }
}

.page-posts {
  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
  }

  .search-container {
    margin-block-start: 45px;

    .input-container {
      display: flex;
      align-items: center;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-end;

      width: 100%;
    }

    #results-container {
      display: flex;
      align-items: flex-start;
      flex-direction: column;

      padding: 20px;

      font-size: 15em;
    }
  }
}

.page-404 {
  padding: 5vw;

  html,
  body {
    color: var(--md-sys-color-on-error-container);

    background-color: var(--md-sys-color-error-container);
  }

  h1 {
    margin: 10vh 0;

    font-size: 6vw !important;
  }

  h3 {
    margin: 1vh 0;

    font-size: 3vh !important;

    a {
      text-decoration: underline;
    }
  }

  h4 {
    font-size: 2.5vh !important;
  }

  #qr-code {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: flex-start;

    p {
      margin: 0;
    }

    span {
      height: 120px;
      width: 120px;

      background-image: var(--via-svg-qrcode-rickroll);
      background-repeat: no-repeat;
    }
  }
}

#about-pt4-pixiv-gallery {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}
