* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;

  height: 100%;
  width: 100%;

  font-family: "Noto Sans SC", sans-serif;
  font-size: 1px;
  font-style: normal;
  text-rendering: optimizeLegibility;

  scrollbar-width: auto;
  scrollbar-color: var(--md-sys-color-secondary) #0000;

  ::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--md-sys-color-secondary);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-corner,
  ::-webkit-scrollbar-track {
    background: none;
  }

  ::selection {
    color: var(--md-sys-color-surface-variant);
    background: var(--md-sys-color-on-surface-variant);
  }

  @media screen and (max-width: 768px) {
    ::-webkit-scrollbar {
      height: 2px;
      width: 2px;
    }
  }
}

.material-icons,
.material-icons-outlined {
  @extend .disable-select;
  -webkit-font-smoothing: antialiased;
}

.material-theme {
  color: var(--md-sys-color-on-background);

  background-color: var(--via-color-background);

  transition: 0.5s cubic-bezier(0.4, 0, 0.25, 1);
}

@font-face {
  font-family: Smiley Sans;
  font-style: italic;
  src: url("/assets/fonts/SmileySans-Oblique.ttf.woff2?v=1.1.1");
}

a {
  height: max-content;
  width: max-content;

  color: var(--md-sys-color-primary);
  text-decoration: none;
}

details {
  margin: 0.5vh 0;

  border: 2px solid #0000;
  border-radius: 12px;

  overflow: hidden;
  transition: cubic-bezier(0, 1, 1, 1) 0.4s;

  &:active,
  &:focus-visible {
    border: 2px solid var(--md-sys-color-on-background);
    border-radius: 12px;
    box-shadow: inset 0px 0px 0 2px var(--md-sys-color-background);

    outline: none;
  }

  img {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    border-radius: 10px;
  }

  summary {
    @extend .body-large;

    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;

    padding: 10px;

    cursor: pointer;

    &::before {
      @extend .material-icons-outlined;

      content: "expand_more";
      font-family: "Material Icons";

      transform: rotateZ(-90deg);
      transition: 0.5s cubic-bezier(0, 0.25, 0.25, 1);
    }
  }

  &:hover {
    background-color: change-color($color: $md-sys-color-tertiary, $alpha: 0.2);
  }

  &[open] {
    summary {
      &:active,
      &:focus-visible {
        border-radius: 24px 24px 0 0;
      }

      &::before {
        transform: rotateZ(0deg);
      }
    }

    background-color: change-color($color: $md-sys-color-tertiary, $alpha: 0.2);

    border-radius: 24px 24px 12px 12px;

    transition: cubic-bezier(0, 1, 1, 1) 0.3s;
  }
}

hr {
  appearance: none;

  border: 1px solid var(--md-sys-color-outline);
}

em {
  font-family: "Smiley Sans";
}

table {
  display: block;

  max-width: max-content;
  width: 100%;

  border-collapse: collapse;
  border-radius: 24px;
  border: 1px solid var(--md-sys-color-outline);

  overflow: auto;

  &::-webkit-scrollbar {
    height: 0;
    width: 0;
  }

  caption {
    @extend .title-medium;

    padding: 16px 0;

    font-weight: bold !important;
    text-transform: uppercase;

    background: var(--md-sys-color-surface-variant);
  }

  thead {
    @extend .body-large;

    white-space: nowrap;

    tr {
      th {
        padding: 16px 24px;

        min-width: 10ch;

        font-weight: 500;
        text-transform: capitalize;

        background: var(--md-sys-color-surface-variant);

        border-left: 1px solid var(--md-sys-color-outline);
        border-top: 1px solid var(--md-sys-color-outline);

        &:first-child {
          border-left: none;
        }

        &:empty {
          border-top: none;
        }
      }

      &:first-child > th {
        border-top: none;
      }

      &:first-child > th:last-child {
        border-right: none;
      }
    }
  }

  tbody {
    @extend .body-large;

    tr {
      vertical-align: top;

      td {
        padding: 16px 24px;

        vertical-align: middle;

        border-left: 1px solid var(--md-sys-color-outline);
        border-top: 1px solid var(--md-sys-color-outline);

        code {
          white-space: nowrap;
        }

        &:first-child {
          border-left: none;
        }

        &:empty {
          border-top: none;
        }
      }

      &:first-child > td:last-child {
        border-right: none;
      }
    }
  }
}

ul,
ol > li {
  @extend .body-large;

  input[type="checkbox"],
  material-input[type="checkbox"] {
    margin: 0px 6px 0px 0px;

    top: 3px;
  }
}

ul {
  padding: 0;

  list-style-type: none;

  li::before {
    content: " ";

    margin-inline-end: 10px;
    padding: 2px;

    background: var(--md-sys-color-outline);

    &.task-list-item {
      display: none;
    }
  }
}

ol {
  padding-inline-start: 20px;
}

.container {
  display: grid;
  grid-template-columns: 80px auto;
  justify-items: start;

  background-color: var(--md-sys-color-surface);

  @media screen and (max-width: 768px) {
    display: flex;
  }
}

.content-container {
  display: flex;
  align-items: stretch;
  flex-direction: column;

  margin: 64px 0 0;
  padding-block-end: 40px;

  width: 100%;

  background-color: var(--via-color-background);

  -webkit-animation: 1s cubic-bezier(0.5, 1, 0.55, 1) 1 normal both page-fade-in;
  animation: 1s cubic-bezier(0.5, 1, 0.55, 1) 1 normal both page-fade-in;
  overflow: hidden;

  &::before {
    content: "";

    position: absolute;
    left: 80px;

    height: 20px;
    width: 20px;

    background-color: var(--md-sys-color-surface);

    -webkit-mask-image: url(/assets/images/corner.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100%;
    mask-image: url(/assets/images/corner.svg);
    mask-repeat: no-repeat;
    mask-size: 100%;
    z-index: 100;
  }

  blockquote {
    margin: 10px;
    padding: 25px;

    color: var(--md-sys-color-on-tertiary-container);

    background-color: change-color($color: $md-sys-color-tertiary-container, $alpha: 0.2);

    border-radius: 12px;
  }

  code,
  .language-plaintext,
  .highlighter-rouge {
    padding: 0 4px;

    font-family: "Source Code Pro", monospace !important;

    background-color: #c7c7c74f;

    border-radius: 4px;
  }

  .content-header {
    display: grid;
    align-content: center;

    padding: 80px 64px;

    max-height: 480px;

    background-color: var(--md-sys-color-secondary-container);

    transition: 1s;
    clip-path: inset(0 round 0 0 15px 15px);

    .header-container {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 6px;
      justify-content: center;

      width: 100%;

      #title {
        color: var(--md-sys-color-on-secondary-container);
        font-family: "Smiley Sans" !important;
        font-size: 100em;
        letter-spacing: 1px;
        line-height: 1em;
      }

      #subtitle {
        @extend .headline-small;
      }

      img {
        @extend .disable-select;

        width: 100%;

        position: fixed;

        top: 0;
        left: 0;

        -webkit-animation: 120s ease-in-out infinite normal header-img;
        -webkit-mask: linear-gradient(to right, transparent, #000);
        animation: 120s ease-in-out infinite normal header-img;
        mask: linear-gradient(to right, transparent, #000);
        z-index: -1;
      }

      h1,
      p {
        z-index: 1;
      }
    }

    &#large {
      padding: 180px 110px;

      .header-container {
        #title {
          font-size: 140em;
        }
      }
    }
  }

  .content-information {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    justify-content: center;

    margin-top: 10px;
  }

  .content {
    margin: 5vh 20vw;

    a:hover,
    a:hover:not(.page-about) {
      text-decoration: underline;
    }

    img {
      max-width: -webkit-fill-available;
      max-width: -moz-available;
    }

    &#nothing {
      @extend :disabled;

      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 20px;

      margin: 2vw;
      padding: 4vw;

      border-radius: 32px;
      border: 2px dashed var(--md-sys-color-outline);

      h1 {
        margin: 0;
      }

      h6 {
        margin: 0;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    .content-header#large {
      padding: 140px 64px;

      .header-container {
        #title {
          font-size: 100em;
        }

        img {
          top: inherit;

          -webkit-animation: none;
          animation: none;
          opacity: 0.5;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    margin: 0;
    padding: 0 5vw 80px;

    &::before {
      display: none;
    }

    .content-header,
    .content-header#large {
      padding: 0;

      background-color: #0000;

      border-radius: 0;

      clip-path: none;

      .header-container {
        padding-block-start: 50px;
        padding-block-end: 10px;

        #title {
          padding-inline-start: 5px;

          font-size: 70em;
        }

        #subtitle {
          padding-inline-start: 8px;
        }

        img {
          display: none;
        }
      }
    }

    .content {
      margin: 1vh 5vw;
    }
  }

  @media screen and (max-width: 425px) {
    .content-header,
    .content-header#large {
      .header-container {
        #title {
          font-size: 60em;
        }

        #subtitle {
          font-size: 20em;
        }
      }
    }
  }

  @media screen and (max-width: 375px) {
    .content-header,
    .content-header#large {
      .header-container {
        #title {
          font-size: 50em;
        }
      }
    }
  }
}

.footer-container {
  margin: 2vh 12vw;

  ul > li::before {
    display: none;
  }

  footer {
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: flex-start;

    section {
      display: flex;
      align-items: stretch;
      flex-direction: column;

      padding: 32px 32px 15px;

      width: 100%;

      border: 1px solid var(--md-sys-color-secondary);

      a {
        margin: 0 0 15px 0;
      }

      h3 {
        font-family: "Smiley Sans" !important;
        letter-spacing: 1px;
      }

      h3,
      h6,
      p {
        margin: 0;
        padding: 0;
      }

      &:nth-child(1) {
        border-radius: 32px 32px 6px 6px;
      }

      &:nth-child(2) {
        border-radius: 6px 6px 32px 32px;

        div {
          display: flex;
          align-items: center;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: flex-start;

          margin-block-start: 10px;

          a {
            @extend .body-large;

            margin: 0;
          }
        }
        ul {
          left: -12px;
        }
      }

      img {
        width: 50px;

        -webkit-mask-image: url(/assets/images/mask.svg);
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: 100%;
        mask-image: url(/assets/images/mask.svg);
        mask-repeat: no-repeat;
        mask-size: 100%;
      }

      ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        margin-block-end: 0;
        margin-block-start: 10px;
        padding-inline-start: 0;

        position: relative;
        left: -20px;

        a {
          margin: 0;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    margin: 2vh 0;
  }
}

.page-about {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

  material-card {
    max-width: 300px;

    .supporting-container {
      display: flex;
      justify-content: center;
    }

    img {
      max-width: 300px;
      width: calc(100% - 40px);

      -webkit-mask-image: url(/assets/images/mask.svg);
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-size: 100%;
      mask-image: url(/assets/images/mask.svg);
      mask-repeat: no-repeat;
      mask-size: 100%;
    }
  }
}

.page-components {
  div {
    & > h1 {
      margin-block-end: 0;
    }

    & > p {
      margin-block-start: 0;
    }
  }
}

.page-posts {
  .cards {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;

    material-card {
      flex-grow: 1;

      max-width: 360px;

      cursor: pointer;
    }
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.highlight {
  color: #ffffff;
  background-color: #272822;

  table {
    td {
      padding: 5px;
    }
    pre {
      margin: 0;
    }
  }

  .gh {
    color: #999999;
  }

  .sr,
  .gs {
    color: #f6aa11;
  }

  .go {
    color: #888888;
  }

  .gp {
    color: #555555;
  }

  gu {
    color: #aaaaaa;
  }

  .nb {
    color: #f6aa11;
  }

  cm {
    color: #75715e;
  }

  .cp {
    color: #75715e;
  }

  .c1 {
    color: #75715e;
  }

  .cs {
    color: #75715e;
  }

  .c,
  .ch,
  .cd,
  .cpf {
    color: #75715e;
  }

  .err {
    color: #960050;
  }

  .gr {
    color: #960050;
  }

  .gt {
    color: #960050;
  }

  .gd {
    color: #49483e;
  }

  .gi {
    color: #49483e;
  }

  .ge {
    color: #49483e;
  }

  .kc {
    color: #66d9ef;
  }

  .kd {
    color: #66d9ef;
  }

  .kr {
    color: #66d9ef;
  }

  .no {
    color: #66d9ef;
  }

  .kt {
    color: #66d9ef;
  }

  .mf {
    color: #ae81ff;
  }

  .mh {
    color: #ae81ff;
  }

  .il {
    color: #ae81ff;
  }

  .mi {
    color: #ae81ff;
  }

  .mo {
    color: #ae81ff;
  }

  .m,
  .mb,
  .mx {
    color: #ae81ff;
  }

  .sc {
    color: #ae81ff;
  }

  .se {
    color: #ae81ff;
  }

  .ss {
    color: #ae81ff;
  }

  .sd {
    color: #e6db74;
  }

  .s2 {
    color: #e6db74;
  }

  .sb {
    color: #e6db74;
  }

  .sh {
    color: #e6db74;
  }

  .si {
    color: #e6db74;
  }

  .sx {
    color: #e6db74;
  }

  .s1 {
    color: #e6db74;
  }

  .s,
  .sa,
  .dl {
    color: #e6db74;
  }

  .na {
    color: #a6e22e;
  }

  .nc {
    color: #a6e22e;
  }

  .nd {
    color: #a6e22e;
  }

  .ne {
    color: #a6e22e;
  }

  .nf,
  .fm {
    color: #a6e22e;
  }

  .vc {
    color: #ffffff;
    background-color: #272822;
  }

  .nn {
    color: #ffffff;
    background-color: #272822;
  }

  .nl {
    color: #ffffff;
    background-color: #272822;
  }

  .ni {
    color: #ffffff;
    background-color: #272822;
  }

  .bp {
    color: #ffffff;
    background-color: #272822;
  }

  .vg {
    color: #ffffff;
    background-color: #272822;
  }

  .vi {
    color: #ffffff;
    background-color: #272822;
  }

  .nv,
  .vm {
    color: #ffffff;
    background-color: #272822;
  }

  .w {
    color: #ffffff;
    background-color: #272822;
  }

  .n,
  .py,
  .nx {
    color: #ffffff;
    background-color: #272822;
  }

  .ow {
    color: #f92672;
  }

  .nt {
    color: #f92672;
  }

  .k,
  .kv {
    color: #f92672;
  }

  .kn {
    color: #f92672;
  }

  .kp {
    color: #f92672;
  }

  .o {
    color: #f92672;
  }
}
