// https://m3.material.io/components/chips/
material-chip {
  min-width: max-content;

  .leading-icon {
    @extend .disable-select;
  }

  &.assist {
    .container {
      display: flex;

      align-items: center;
      flex-direction: row;

      padding: 6px 16px 6px 8px;

      height: 32px;

      box-sizing: border-box;

      border-radius: 8px;
      border: 1px solid var(--md-sys-color-outline);
    }

    .label-text {
      @extend .label-large;

      flex-grow: 0;
      order: 1;

      margin: 0 0 0 8px;

      position: static;

      color: var(--md-sys-color-on-surface);
      white-space: nowrap;
    }

    .leading-icon {
      flex-grow: 0;
      flex: none;
      order: 0;

      color: var(--md-sys-color-primary);
      font-size: 18px;
    }

    &[disabled] {
      .container {
        display: flex;

        align-items: center;
        flex-direction: row;

        padding: 6px 16px 6px 8px;

        height: 32px;

        box-sizing: border-box;

        border-radius: 8px;
        border: 1px solid change-color($color: $md-sys-color-on-surface-variant, $alpha: 0.12);
      }

      .label-text {
        @extend .label-large;

        flex-grow: 0;
        order: 1;

        margin: 0 0 0 8px;

        position: static;

        color: var(--md-sys-color-on-surface);
        white-space: nowrap;
      }

      .leading-icon {
        flex-grow: 0;
        flex: none;
        order: 0;

        color: var(--md-sys-color-on-surface);
        font-size: 18px;
      }
    }

    &:hover {
      .container {
        box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.25);

        cursor: pointer;
      }
    }

    &:focus {
      border: 12px solid var(--md-sys-color-outline);
    }
  }
}