$md-sys-state-dragged-state-layer-opacity: 0.16;
$md-sys-state-focus-state-layer-opacity: 0.12;
$md-sys-state-hover-state-layer-opacity: 0.08;
$md-sys-state-pressed-state-layer-opacity: 0.12;

:root {
  .material-theme {
    br,
    .disable-select {
      -moz-user-select: none;
      -webkit-user-drag: none;
      -webkit-user-select: none;
      user-select: none;
    }

    :disabled,
    [disabled] {
      @extend .disable-select;

      -webkit-filter: grayscale(1);
      box-shadow: none;
      filter: grayscale(1);
      opacity: 0.38;
      pointer-events: none;
    }

    --md-sys-state-dragged-state-layer-opacity: 0.16;
    --md-sys-state-focus-state-layer-opacity: 0.12;
    --md-sys-state-hover-state-layer-opacity: 0.08;
    --md-sys-state-pressed-state-layer-opacity: 0.12;
  }
}
