@media screen and (max-width: 375px) {
  .content-flow {
    .content-header,
    .content-header[spec="large"] {
      .header-container {
        #title {
          font-size: 50rem;
          word-break: break-word;
        }
      }
    }

    #content {
      section:nth-child(1) {
        width: 90vw;
      }
    }
  }
}
