// 通用变量

:root {
  @media (prefers-color-scheme: light) {
    --md-sys-color-primary: var(--md-ref-palette-primary40);
    --md-sys-color-primary-container: var(--md-ref-palette-primary90);
    --md-sys-color-on-primary: var(--md-ref-palette-primary100);
    --md-sys-color-on-primary-container: var(--md-ref-palette-primary10);
    --md-sys-color-inverse-primary: var(--md-ref-palette-primary80);
    --md-sys-color-secondary: var(--md-ref-palette-secondary40);
    --md-sys-color-secondary-container: var(--md-ref-palette-secondary90);
    --md-sys-color-on-secondary: var(--md-ref-palette-secondary100);
    --md-sys-color-on-secondary-container: var(--md-ref-palette-secondary10);
    --md-sys-color-tertiary: var(--md-ref-palette-tertiary40);
    --md-sys-color-tertiary-container: var(--md-ref-palette-tertiary90);
    --md-sys-color-on-tertiary: var(--md-ref-palette-tertiary100);
    --md-sys-color-on-tertiary-container: var(--md-ref-palette-tertiary10);
    --md-sys-color-surface: var(--md-ref-palette-neutral98);
    --md-sys-color-surface-dim: var(--md-ref-palette-neutral87);
    --md-sys-color-surface-bright: var(--md-ref-palette-neutral98);
    --md-sys-color-surface-container-lowest: var(--md-ref-palette-neutral100);
    --md-sys-color-surface-container-low: var(--md-ref-palette-neutral96);
    --md-sys-color-surface-container: var(--md-ref-palette-neutral94);
    --md-sys-color-surface-container-high: var(--md-ref-palette-neutral92);
    --md-sys-color-surface-container-highest: var(--md-ref-palette-neutral90);
    --md-sys-color-surface-variant: var(--md-ref-palette-neutral-variant90);
    --md-sys-color-on-surface: var(--md-ref-palette-neutral10);
    --md-sys-color-on-surface-variant: var(--md-ref-palette-neutral-variant30);
    --md-sys-color-inverse-surface: var(--md-ref-palette-neutral20);
    --md-sys-color-inverse-on-surface: var(--md-ref-palette-neutral95);
    --md-sys-color-background: var(--md-ref-palette-neutral98);
    --md-sys-color-on-background: var(--md-ref-palette-neutral10);
    --md-sys-color-error: var(--md-ref-palette-error40);
    --md-sys-color-error-container: var(--md-ref-palette-error90);
    --md-sys-color-on-error: var(--md-ref-palette-error100);
    --md-sys-color-on-error-container: var(--md-ref-palette-error10);
    --md-sys-color-outline: var(--md-ref-palette-neutral-variant50);
    --md-sys-color-outline-variant: var(--md-ref-palette-neutral-variant80);
    --md-sys-color-shadow: var(--md-ref-palette-neutral0);
    --md-sys-color-surface-tint-color: var(--md-sys-color-primary);
    --md-sys-color-scrim: var(--md-ref-palette-neutral0);

    --md-sys-elevation-level1: var(--md-sys-elevation-level1-light);
    --md-sys-elevation-level2: var(--md-sys-elevation-level2-light);
    --md-sys-elevation-level3: var(--md-sys-elevation-level3-light);
    --md-sys-elevation-level4: var(--md-sys-elevation-level4-light);
    --md-sys-elevation-level5: var(--md-sys-elevation-level5-light);
  }

  @media (prefers-color-scheme: dark) {
    --md-sys-color-primary: var(--md-ref-palette-primary80);
    --md-sys-color-primary-container: var(--md-ref-palette-primary30);
    --md-sys-color-on-primary: var(--md-ref-palette-primary20);
    --md-sys-color-on-primary-container: var(--md-ref-palette-primary90);
    --md-sys-color-inverse-primary: var(--md-ref-palette-primary40);
    --md-sys-color-secondary: var(--md-ref-palette-secondary80);
    --md-sys-color-secondary-container: var(--md-ref-palette-secondary30);
    --md-sys-color-on-secondary: var(--md-ref-palette-secondary20);
    --md-sys-color-on-secondary-container: var(--md-ref-palette-secondary90);
    --md-sys-color-tertiary: var(--md-ref-palette-tertiary80);
    --md-sys-color-tertiary-container: var(--md-ref-palette-tertiary30);
    --md-sys-color-on-tertiary: var(--md-ref-palette-tertiary20);
    --md-sys-color-on-tertiary-container: var(--md-ref-palette-tertiary90);
    --md-sys-color-surface: var(--md-ref-palette-neutral6);
    --md-sys-color-surface-dim: var(--md-ref-palette-neutral6);
    --md-sys-color-surface-bright: var(--md-ref-palette-neutral24);
    --md-sys-color-surface-container-lowest: var(--md-ref-palette-neutral4);
    --md-sys-color-surface-container-low: var(--md-ref-palette-neutral10);
    --md-sys-color-surface-container: var(--md-ref-palette-neutral12);
    --md-sys-color-surface-container-high: var(--md-ref-palette-neutral17);
    --md-sys-color-surface-container-highest: var(--md-ref-palette-neutral22);
    --md-sys-color-surface-variant: var(--md-ref-palette-neutral-variant30);
    --md-sys-color-on-surface: var(--md-ref-palette-neutral90);
    --md-sys-color-on-surface-variant: var(--md-ref-palette-neutral-variant80);
    --md-sys-color-inverse-surface: var(--md-ref-palette-neutral90);
    --md-sys-color-inverse-on-surface: var(--md-ref-palette-neutral20);
    --md-sys-color-background: var(--md-ref-palette-neutral6);
    --md-sys-color-on-background: var(--md-ref-palette-neutral90);
    --md-sys-color-error: var(--md-ref-palette-error80);
    --md-sys-color-error-container: var(--md-ref-palette-error30);
    --md-sys-color-on-error: var(--md-ref-palette-error20);
    --md-sys-color-on-error-container: var(--md-ref-palette-error90);
    --md-sys-color-outline: var(--md-ref-palette-neutral-variant60);
    --md-sys-color-outline-variant: var(--md-ref-palette-neutral-variant30);
    --md-sys-color-shadow: var(--md-ref-palette-neutral0);
    --md-sys-color-surface-tint-color: var(--md-sys-color-primary);
    --md-sys-color-scrim: var(--md-ref-palette-neutral0);

    --md-sys-elevation-level1: var(--md-sys-elevation-level1-dark);
    --md-sys-elevation-level2: var(--md-sys-elevation-level2-dark);
    --md-sys-elevation-level3: var(--md-sys-elevation-level3-dark);
    --md-sys-elevation-level4: var(--md-sys-elevation-level4-dark);
    --md-sys-elevation-level5: var(--md-sys-elevation-level5-dark);
  }
}
