.default-header {
  grid-column: span 12;

  position: relative;

  height: 540px;

  word-break: break-word;

  svg {
    display: none;
  }

  #default-header-webinfo {
    position: absolute;
    bottom: 0px;
    right: 0px;

    color: var(--md-ref-palette-secondary100);

    overflow: hidden;
    z-index: 2;
  }

  #default-header-hero-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 12px;
    justify-content: center;

    position: relative;

    height: 100%;

    padding: 54px;

    color: var(--md-ref-palette-secondary100);

    border-radius: var(--md-sys-shape-corner-medium);
    border: 1px solid var(--md-sys-color-outline-variant);

    overflow: hidden;
    transition: var(--md-sys-motion-duration-extra-long4) var(--md-sys-motion-easing-standard);
    z-index: 1;

    #default-header-hero-headline {
      @include typescale-style("display-large", $font-size: 90rem, $font-weight: 700, $line-height: 90rem);

      width: 100%;

      mix-blend-mode: hard-light;
      transition: var(--md-sys-motion-duration-short1) var(--md-sys-motion-easing-standard);
    }

    #default-header-hero-subtitle {
      @include typescale-style("headline-large", $font-size: 22rem, $line-height: 22rem);

      width: 100%;

      mix-blend-mode: hard-light;
      transition: var(--md-sys-motion-duration-short1) var(--md-sys-motion-easing-standard);
    }

    #default-header-impression {
      position: absolute;
      left: 0px;
      top: 0px;

      height: 100%;
      width: 100%;

      background-color: var(--md-ref-palette-secondary48);

      z-index: -1;

      @media (prefers-color-scheme: dark) {
        background-color: var(--md-ref-palette-secondary10);
      }

      #default-header-impression-noise {
        position: relative;

        height: 100%;
        width: 100%;

        filter: url(#noise-filter);
        mix-blend-mode: difference;
        opacity: 0.1;
        z-index: 2;
      }

      #default-header-impression-image {
        position: absolute;
        left: 0px;
        top: 0px;

        height: 100%;
        width: 100%;

        background: center/cover no-repeat;

        filter: blur(3px);
        opacity: 0.85;
        transform: scale(103%);
        z-index: 1;
      }
    }
  }

  @import "_breakpoints/main";
}
