// https://m3.material.io/components/progress-indicators/
// 进度指示

@property --progress-indicator-deg {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.progress-indicator {
  // Firefox兼容
  --progress-indicator-deg: 270deg;

  display: block;

  width: 40px;
  height: 40px;

  margin: 4px;

  border-radius: var(--md-sys-shape-corner-full);
  border: 4px solid var(--md-sys-color-primary);

  -webkit-mask: conic-gradient(#000 var(--progress-indicator-deg), transparent 0deg);
  animation: progress-indicator-loop 1.5s cubic-bezier(0.35, 0.25, 0.25, 0.65) infinite;
  mask: conic-gradient(#000 var(--progress-indicator-deg), transparent 0deg);
}
