// 1200_carousel
& {
  grid-column: span 6;

  height: 45vh;
  min-height: 360px;

  #carousel-container {
    margin: 0px;

    .carousel-article .carousel-article-info {
      padding-inline: 30px;

      h1 {
        @include typescale-style("display-small");
      }

      h4 {
        @include typescale-style("body-large");
      }
    }
  }
}
