// https://m3.material.io/components/cards/
// 卡片

.c-card {
  display: flex;
  flex-direction: column;

  position: relative;

  overflow: hidden;
  transition: var(--md-sys-motion-duration-medium4) var(--md-sys-motion-easing-standard);

  img {
    @include mixin-userselect();

    display: block;

    max-width: unset;
  }

  .c-card-impression {
    span {
      @include material-symbols($size: 72);

      width: 100%;

      padding-block: 60px;

      color: var(--md-sys-color-on-tertiary);
      font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 25, "opsz" 24;
      text-align: center;

      mix-blend-mode: luminosity;
    }
  }

  .c-card-supporting {
    color: var(--md-sys-color-on-surface);

    pointer-events: none;

    h3 {
      transition: var(--md-sys-motion-duration-short4) var(--md-sys-motion-easing-standard);
    }
  }

  &[spec="clear"] {
    border-radius: var(--md-sys-shape-corner-extra-large);

    background-color: var(--md-sys-color-surface-bright);

    @media (prefers-color-scheme: dark) {
      background-color: var(--md-sys-color-surface-dim);
    }

    cursor: pointer;

    img {
      height: 240px;
      width: 100%;

      object-fit: cover;
      transition: var(--md-sys-motion-duration-medium4) var(--md-sys-motion-easing-standard);
    }

    .c-card-impression {
      position: relative;

      border-radius: var(--md-sys-shape-corner-extra-large-bottom);

      background-color: var(--md-sys-color-inverse-primary);

      overflow: hidden;
    }

    .c-card-supporting {
      display: flex;
      flex-direction: column;
      gap: 10px;

      padding-block: 20px 18px;
      padding-inline: 20px;

      #c-card-supporting--weaken {
        text-align: end;

        opacity: 0.5;
      }
    }

    e-ripple {
      background-color: var(--md-sys-color-on-primary);
    }

    &:hover {
      .c-card-supporting h3 {
        font-weight: 700;
      }

      color: var(--md-sys-color-on-secondary-container);

      background-color: var(--md-sys-color-secondary-container);
    }

    &:active {
      .c-card-supporting h3 {
        font-weight: 200;
      }

      border-radius: calc(2 * var(--md-sys-shape-corner-extra-large));

      transition: var(--md-sys-motion-duration-short4) var(--md-sys-motion-easing-emphasized);
    }
  }

  &[spec="focus"] {
    height: 240px;

    border-radius: var(--md-sys-shape-corner-extra-large);

    background-color: var(--md-sys-color-primary);

    cursor: pointer;

    img {
      height: 100%;

      object-fit: cover;
      transition: var(--md-sys-motion-duration-short4) var(--md-sys-motion-easing-standard);
    }

    .c-card-supporting {
      position: absolute;
      bottom: 0;

      margin: 20px;

      color: var(--md-sys-color-on-primary);

      transform: translateY(calc(100% + 20px));
      transition: var(--md-sys-motion-duration-medium4) var(--md-sys-motion-easing-emphasized);

      h3 {
        font-weight: 100;
      }
    }

    e-ripple {
      background-color: var(--md-sys-color-on-primary);
    }

    &:hover {
      img {
        opacity: 0.5;

        transition: opacity var(--md-sys-motion-duration-medium2);
      }

      .c-card-supporting {
        transform: translateY(0%);

        h3 {
          font-weight: 700;
        }
      }
    }
  }
}
