// https://m3.material.io/components/checkbox/overview
// 用户输入

.JTM-C-Checkbox {
  display: grid;
  align-content: center;
  justify-content: center;

  height: 44px;
  width: 44px;

  margin: 0;
  padding: 0;

  position: relative;

  @include material-icon($size: 24px);
  letter-spacing: 0;

  border-radius: 50%;

  appearance: none;
  cursor: pointer;
  overflow: hidden;

  &::after {
    content: "check_box_outline_blank";

    color: var(--md-sys-color-on-surface-variant);
    line-height: 1;
  }

  &:checked::after {
    content: "check_box";

    color: var(--md-sys-color-primary);
  }
}
