// https://m3.material.io/components/dialogs/
// 对话

dialog[open],
.mdl[open] {
  padding: 24px;

  min-width: 280px;
  max-width: 560px;

  background-color: var(--md-sys-color-surface);

  letter-spacing: 0;

  border-radius: 28px;
  border: none;

  box-shadow: var(--md-sys-elevation-level3);

  &::backdrop {
    background-color: transparent;
  }

  .mdl-buttons {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    gap: 8px;
    justify-content: flex-start;
  }

  .mdl-content-layout {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    margin-bottom: 24px;

    color: var(--md-sys-color-on-surface-variant);

    .mdl-headline {
      margin-bottom: 16px;

      color: var(--md-sys-color-on-surface);
    }

    .mdl-supporting-text {
      margin-bottom: 24px;
    }

    .mdl-supporting-list {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 12px;

      width: 100%;
    }
  }

  &[icon] {
    .mdl-content-layout {
      align-items: center;

      .mdl-icon {
        @include material-icon($size: 24px);

        margin-bottom: 16px;
      }
    }
  }
}
