// https://m3.material.io/components/dialogs/
// 对话

.JTM-C-Dialog[open] {
  @include JTM-E-UserSelect();

  border: none;

  background-color: transparent;

  animation: var(--md-sys-motion-duration-short4) var(--md-sys-motion-easing-emphasized) 1 normal both JTM-C-Dialog-ContainerShow;

  .JTM-C-Dialog-Layout {
    position: relative;

    max-width: 560px;
    min-width: 280px;

    overflow: hidden;

    border-radius: var(--md-sys-shape-corner-extra-large);

    background-color: var(--md-sys-color-surface);

    animation: var(--md-sys-motion-duration-long1) var(--md-sys-motion-easing-emphasized) var(--md-sys-motion-duration-short1) 1 normal both
      JTM-C-Dialog-LayoutShow;
    pointer-events: auto;

    #JTM-C-Dialog-Content {
      display: flex;
      align-items: center;
      flex-direction: column;

      margin-block: 24px 64px;
      margin-inline: 12px;

      color: var(--md-sys-color-on-surface-variant);

      animation: var(--md-sys-motion-duration-long1) var(--md-sys-motion-easing-emphasized) var(--md-sys-motion-duration-short1) 1 normal both
        JTM-C-Dialog-ContentShow;

      .JTM-C-Dialog-LeaderIcon {
        @include material-symbols($size: 24);
      }

      .JTM-C-Dialog-Headline {
        margin-inline: 10px;

        h3 {
          margin-block-end: 6px;

          color: var(--md-sys-color-on-surface);
          text-align: center;
          text-transform: uppercase;
        }

        p {
          text-align: center;
        }
      }

      .JTM-C-Dialog-SupportingList {
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        width: 100%;

        animation: var(--md-sys-motion-duration-long1) var(--md-sys-motion-easing-emphasized) var(--md-sys-motion-duration-short2) 1 normal both
          JTM-C-Dialog-SupportingListShow;

        .JTM-C-Dialog-TipItems {
          display: grid;
          align-items: center;
          gap: 12px;
          grid-template-columns: auto auto;
        }
      }
    }

    #JTM-C-Dialog-Button {
      position: absolute;
      right: 0;

      margin: 12px;

      animation: var(--md-sys-motion-duration-long1) var(--md-sys-motion-easing-emphasized) var(--md-sys-motion-duration-short1) 1 normal both
        JTM-C-Dialog-ButtonShow;
    }
  }

  &::backdrop {
    background-color: transparent;
  }
}
