// 用户输入

input.mip {
  position: relative;

  letter-spacing: 0;

  &[type="checkbox"] {
    display: grid;
    align-content: center;
    justify-content: center;

    margin: 0;
    padding: 0;

    height: 44px;
    width: 44px;

    font-family: "Material Symbols Rounded";
    font-size: 24px;

    border-radius: 50%;

    appearance: none;
    cursor: pointer;
    overflow: hidden;

    &::after {
      color: var(--md-sys-color-on-surface-variant);
      line-height: 1;
    }

    &:checked::after {
      color: var(--md-sys-color-primary);
    }
  }

  &[type="checkbox"] {
    &::after {
      content: "check_box_outline_blank";
    }

    &:checked::after {
      content: "check_box";
    }
  }
}
