// 展开的侧边栏

.mnd {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  margin: 20px;

  position: fixed;
  left: 70px;

  height: calc(100% - 40px);
  width: 10px;

  letter-spacing: 0;
  white-space: nowrap;

  border-radius: 12px;

  background-color: var(--md-sys-color-surface);

  opacity: 0;
  transition: visibility 0.3s, opacity 0.29s, width var(--md-sys-motion-duration-medium4) var(--md-sys-motion-easing-emphasized),
    height var(--md-sys-motion-duration-medium4) var(--md-sys-motion-easing-emphasized),
    top var(--md-sys-motion-duration-medium4) var(--md-sys-motion-easing-emphasized);
  visibility: hidden;
  z-index: 21;

  .mnd-section {
    padding: 10px;

    overflow: auto;

    &::-webkit-scrollbar {
      width: 2px;
    }
  }

  &[show] {
    width: 240px;

    opacity: 1;
    transition: visibility 0.01s, opacity 0.29s, width var(--md-sys-motion-duration-medium4) var(--md-sys-motion-easing-emphasized),
      height var(--md-sys-motion-duration-medium4) var(--md-sys-motion-easing-emphasized),
      top var(--md-sys-motion-duration-medium4) var(--md-sys-motion-easing-emphasized);
    visibility: visible;
  }

  a,
  p {
    display: block;

    margin: 0;
    padding: 0px 8px 0px 16px;

    width: 100%;

    line-height: 48px;
    text-overflow: ellipsis;
  }

  & > ul > li > a {
    font-weight: bold;
  }

  ul {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    margin: 0;
    padding: 0;

    width: 100%;

    list-style: none;

    .mnd-entry {
      width: 100%;
    }

    .mnd-h1 {
      a:hover {
        background-color: var(--md-sys-color-secondary-container);
      }
    }

    .mnd-h2 {
      padding: 0px 8px 0px 20px;

      a:hover {
        padding: 0px 8px 0px 24px;

        background-color: var(--md-sys-color-secondary-container);
      }
    }

    & > li > a {
      position: relative;

      border-radius: 100px;

      overflow: hidden;
      transition: 0.2s;
    }
  }

  li::before {
    display: none;
  }
}
