.c-search {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 6vh;
  justify-content: flex-start;

  position: fixed;
  right: 0;
  top: 0;

  height: 100%;
  width: calc(100% - 80px);

  background-color: var(--md-sys-color-surface-container-low);

  clip-path: inset(0 0 calc(100% - 84px) 0 round 0 0 24px 24px);
  opacity: 0;
  overflow: auto;
  transition: clip-path var(--md-sys-motion-duration-long4) var(--md-sys-motion-easing-standard) var(--md-sys-motion-duration-short1),
    opacity var(--md-sys-motion-duration-medium4) var(--md-sys-motion-easing-emphasized),
    visibility var(--md-sys-motion-duration-medium4) var(--md-sys-motion-easing-emphasized);
  visibility: hidden;
  z-index: 100;

  #c-search-input-box {
    margin-block-start: 12px;
    padding-inline: 12px;

    height: 60px;
    width: 100%;

    button {
      position: absolute;

      width: 60px;
      height: 60px;

      color: var(--md-sys-color-on-surface);

      @media (prefers-color-scheme: dark) {
        color: var(--md-sys-color-surface);
      }
    }

    input {
      @include typescale-style("title-large");

      padding-inline: 60px 24px;

      height: 100%;
      width: 100%;

      text-transform: uppercase;

      border-radius: 36px;
      border: none;

      &:focus {
        outline: none;
      }
    }
  }

  #c-search-results-container {
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: max-content;

    padding-inline: 12px;

    height: calc(100% - 72px - 6vh);
    max-width: 1100px;
    width: 100%;

    .c-search-result-item {
      height: 100%;
      width: 100%;

      text-decoration: none;

      .c-card {
        height: 100%;

        .c-card-impression {
          max-height: 180px;
        }

        .c-card-supporting {
          height: calc(100% - 180px);
        }
      }
    }
  }
}
