.main-layout {
  display: grid;
  grid-template-columns: 80px 240px auto;

  position: relative;

  height: 100%;

  z-index: 2;
  transition: var(--md-sys-motion-duration-medium1) var(--md-sys-motion-easing-emphasized);

  #main-layout-content-flow {
    display: grid;
    align-content: space-between;
    align-items: start;
    gap: 24px;
    grid-column: 3;
    grid-template-columns: repeat(12, minmax(72px, 84px));

    position: relative;

    padding-block-end: 68px;
    padding-inline: 4vw;

    width: 100%;

    opacity: 0;
    overflow: overlay;
    scroll-behavior: smooth;
    scroll-padding-top: 120px;
    scrollbar-width: thin;
    transform: translateY(20px) scale(0.99);
    transition: var(--md-sys-motion-duration-medium1) var(--md-sys-motion-easing-emphasized);

    #main-layout-search {
      grid-column: span 12;
      padding-block-start: 24px;

      height: max-content;

      overflow: hidden;
      transition: height var(--md-sys-motion-duration-long4) var(--md-sys-motion-easing-standard) var(--md-sys-motion-duration-short1),
        margin var(--md-sys-motion-duration-medium4) var(--md-sys-motion-easing-emphasized);
      z-index: 100;

      #main-layout-search-input-box {
        position: relative;

        height: 56px;
        width: 100%;

        border-radius: 36px;

        background-color: var(--md-sys-color-surface-container-high);

        transition: height var(--md-sys-motion-duration-long1) var(--md-sys-motion-easing-emphasized);

        span {
          @include material-symbols($size: 24);

          display: flex;
          align-items: center;
          justify-content: center;

          position: absolute;

          height: 56px;
          width: 56px;

          transition: var(--md-sys-motion-duration-long1) var(--md-sys-motion-easing-emphasized);
        }

        form {
          display: flex;
          align-items: center;

          height: 100%;

          input[type="text"] {
            @include typescale-style("title-large");

            padding-inline: 56px 24px;

            height: 100%;
            width: 100%;

            color: var(--md-sys-color-on-surface);
            text-transform: uppercase;

            border: none;
            background-color: transparent;

            transition: var(--md-sys-motion-duration-long1) var(--md-sys-motion-easing-emphasized);

            &:focus {
              outline: none;
            }
          }

          input[type="reset"] {
            @include material-symbols($size: 24);

            position: absolute;
            right: 0px;

            height: 100%;
            width: 56px;

            color: var(--md-sys-color-on-surface);

            border: none;
            border-radius: var(--md-sys-shape-corner-full);

            background-color: transparent;

            cursor: pointer;
          }
        }
      }

      #main-layout-search-results-container {
        display: grid;
        grid-auto-rows: max-content;

        width: 100%;

        overflow: hidden;
        transition: var(--md-sys-motion-duration-long4);

        & > p {
          text-align: center;
        }

        .main-layout-search-result-item {
          height: 100%;
          width: 100%;

          padding-block-start: 12px;

          text-decoration: none;

          .card {
            height: 100%;

            .card-impression {
              max-height: 180px;
            }

            .card-supporting {
              height: calc(100% - 180px);
            }
          }
        }
      }
    }

    #main-layout-content-filler {
      display: grid;
      grid-column: span 12;
    }

    #main-layout-scrolltop {
      display: flex;
      align-items: center;
      justify-content: center;
      grid-column: 12;

      position: sticky;
      bottom: 72px;
      right: 0px;

      height: 100%;
      width: 100%;

      opacity: 0;
      transition: var(--md-sys-motion-duration-medium4) var(--md-sys-motion-easing-standard);
      visibility: hidden;
      z-index: 21;

      #main-layout-scrolltop-desktop {
        @include material-symbols($size: 24);

        position: relative;

        height: 84px;
        min-width: 84px;
        width: 84px;

        color: var(--md-sys-color-outline);

        border-radius: var(--md-sys-shape-corner-full);
        border: 1px solid var(--md-sys-color-outline-variant);

        background-color: var(--md-sys-color-surface-container-low);

        cursor: pointer;
        overflow: hidden;
      }
    }

    hr {
      grid-column: span 12;
    }
  }

  @import "article";

  @import "feed";

  @import "blank";

  @import "_breakpoints/main";
}
