&[spec="feed"] {
  #main-layout-content-flow {
    gap: 24px;
    grid-template-rows: minmax(180px, 360px) minmax(90px, 240px) auto;
    justify-content: start;

    padding-block-end: 68px;

    & > {
      h1 {
        @include typescale-style("display-large");

        display: flex;
        align-items: end;
        grid-column: span 9;

        height: 100%;
      }

      h6 {
        grid-column: span 9;
      }

      img {
        grid-column: 11 / span 2;
        grid-row: 1 / span 2;

        margin: auto;

        height: 120px;
        width: 120px;

        -webkit-mask: var(--via-svg-mask) no-repeat 0 / 100%;
        mask: var(--via-svg-mask) no-repeat 0 / 100%;
      }
    }

    #main-layout-content-filler {
      display: flex;
      flex-flow: column wrap;
      height: 100%;

      &::before,
      &::after {
        content: "";
        flex-basis: 100%;
        width: 0;
        order: 2;
      }

      div.card[spec="feed"] {
        width: calc(50% - 12px);

        &:nth-child(2n + 4),
        &[size="large"] {
          margin-inline-end: 12px;

          order: 1;
        }

        &:nth-child(2n + 3),
        &[size="small"] {
          margin-inline-start: 12px;

          order: 2;
        }

        & > a {
          width: 100%;

          color: var(--md-sys-color-on-surface);
          text-decoration: none;
        }
      }
    }
  }
}
