.JTM-S-Carousel {
  margin-block: 12px;
  margin-inline: calc(25% - 152px);

  user-select: none;

  #JTM-S-Carousel-PostsList {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 540px;

    position: relative;

    .JTM-S-Carousel-Control {
      @include material-symbols($size: 18);

      height: 100%;
      width: 72px;

      padding: 0;

      position: absolute;

      color: var(--md-sys-color-on-surface-variant);

      border-radius: 100px;
      border: none;

      background-color: var(--md-sys-color-surface-variant);

      cursor: pointer;
      opacity: 0;
      overflow: hidden;
      transition: var(--md-sys-motion-duration-short4) var(--md-sys-motion-easing-standard);
      z-index: 12;

      &:nth-of-type(1) {
        left: 0;
      }

      &:nth-of-type(2) {
        right: 0;
      }

      &:hover {
        opacity: 1;
      }

      &:active,
      &:focus {
        outline: none;

        opacity: 0.5;
      }
    }

    .JTM-S-Carousel-PostItem {
      flex-grow: 1;

      height: 100%;
      width: 100%;

      margin-inline-end: 8px;

      position: relative;

      border-radius: 36px;

      background-color: var(--md-sys-color-surface-variant);

      overflow: hidden;
      transition: var(--md-sys-motion-duration-long4) var(--md-sys-motion-easing-emphasized);

      &:focus,
      &:focus-visible {
        outline: 3px solid var(--md-sys-color-outline);
      }

      &:hover {
        #JTM-S-Carousel-PostInfo {
          padding-block: 780px 40px;
        }
      }

      JTM-E-Ripple {
        background-color: var(--md-sys-color-on-primary);
      }

      #JTM-S-Carousel-PostImpression {
        height: 100%;
        width: 100%;

        object-fit: cover;
        pointer-events: none;
        transition: var(--md-sys-motion-duration-medium4) var(--md-sys-motion-easing-standard);
      }

      #JTM-S-Carousel-PostInfo {
        @include typescale-style("display-large");

        padding-block: 80px 40px;
        padding-inline: 50px;

        position: absolute;
        bottom: 0;
        right: 0;

        width: 100%;

        color: var(--md-sys-color-on-surface);

        background: linear-gradient(transparent, #000000a6);

        @media (prefers-color-scheme: light) {
          background: linear-gradient(transparent, #ffffffa6);
        }

        overflow: hidden;
        pointer-events: none;
        transition: var(--md-sys-motion-duration-short4) var(--md-sys-motion-easing-standard);

        h1 {
          @include typescale-style("display-large");
        }
      }
    }

    &[data-scroll="1"] {
      .JTM-S-Carousel-PostItem {
        &:nth-of-type(1) {
          width: calc(100% - 78px);

          background-color: var(--md-sys-color-surface);

          #JTM-S-Carousel-PostImpression {
            opacity: 1;
          }

          #JTM-S-Carousel-PostInfo {
            transition: var(--md-sys-motion-duration-long4) var(--md-sys-motion-easing-standard);
          }
        }

        &:nth-of-type(2) {
          width: 72px;

          margin-inline-end: 0;

          border: 0 solid transparent;

          #JTM-S-Carousel-PostInfo {
            opacity: 0;
          }
        }

        &:nth-of-type(3),
        &:nth-of-type(4) {
          width: 0;

          margin-inline-end: 0;

          border: 0 solid transparent;

          opacity: 0;

          #JTM-S-Carousel-PostInfo {
            opacity: 0;
          }
        }
      }
    }

    &[data-scroll="2"] {
      .JTM-S-Carousel-PostItem {
        &:nth-of-type(1),
        &:nth-of-type(4) {
          width: 0;

          margin-inline-end: 0;

          border: 0 solid transparent;

          opacity: 0;

          #JTM-S-Carousel-PostInfo {
            opacity: 0;
          }
        }

        &:nth-of-type(2) {
          width: calc(100% - 78px);

          background-color: var(--md-sys-color-surface);

          #JTM-S-Carousel-PostImpression {
            opacity: 1;
          }

          #JTM-S-Carousel-PostInfo {
            transition: var(--md-sys-motion-duration-long4) var(--md-sys-motion-easing-standard);
          }
        }

        &:nth-of-type(3) {
          width: 72px;

          margin-inline-end: 0;

          #JTM-S-Carousel-PostInfo {
            opacity: 0;
          }
        }
      }
    }

    &[data-scroll="3"] {
      .JTM-S-Carousel-PostItem {
        &:nth-of-type(1),
        &:nth-of-type(2) {
          width: 0;

          margin-inline-end: 0;

          border: 0 solid transparent;

          opacity: 0;

          #JTM-S-Carousel-PostInfo {
            opacity: 0;
          }
        }

        &:nth-of-type(3) {
          width: calc(100% - 78px);

          background-color: var(--md-sys-color-surface);

          #JTM-S-Carousel-PostImpression {
            opacity: 1;
          }

          #JTM-S-Carousel-PostInfo {
            transition: var(--md-sys-motion-duration-long4) var(--md-sys-motion-easing-standard);
          }
        }

        &:nth-of-type(4) {
          width: 72px;

          margin-inline-end: 0;

          #JTM-S-Carousel-PostInfo {
            opacity: 0;
          }
        }
      }
    }
  }
}
