.s-carousel {
  grid-column: span 12;

  height: 54vh;
  max-height: 540px;
  min-height: 420px;

  margin-block-start: 12px;

  user-select: none;

  #s-carousel-container {
    display: flex;
    align-items: center;

    height: 100%;

    position: relative;

    border-radius: var(--md-sys-shape-corner-medium);
    border: 1px solid var(--md-sys-color-outline-variant);

    .s-carousel-control {
      @include material-symbols($size: 18);

      height: 20%;
      width: 60px;

      position: absolute;

      padding: 0;

      color: var(--md-sys-color-on-surface-variant);

      border-radius: var(--md-sys-shape-corner-medium);
      border: none;

      background-color: var(--md-sys-color-surface-variant);

      cursor: pointer;
      opacity: 0;
      overflow: hidden;
      transition: var(--md-sys-motion-duration-short4) var(--md-sys-motion-easing-standard);
      z-index: 11;

      &:nth-of-type(1) {
        left: 0;

        margin-inline-start: 12px;
      }

      &:nth-of-type(2) {
        right: 0;

        margin-inline-end: 12px;
      }

      &:active,
      &:focus {
        outline: none;

        opacity: 0.5;
      }
    }

    .s-carousel-article {
      position: absolute;

      height: 100%;
      width: 100%;

      border-radius: var(--md-sys-shape-corner-medium);

      background-color: var(--md-sys-color-secondary-container);

      overflow: hidden;
      transition: var(--md-sys-motion-duration-long4) var(--md-sys-motion-easing-emphasized);

      e-ripple {
        background-color: var(--md-sys-color-on-primary);
      }

      .s-carousel-article-impression {
        display: block;

        height: 100%;

        background-blend-mode: overlay;
        background: center/cover no-repeat var(--md-sys-color-secondary-container);

        transition: var(--md-sys-motion-duration-medium4) var(--md-sys-motion-easing-standard);
      }

      .s-carousel-article-info {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        position: absolute;
        bottom: 0;
        right: 0;

        height: 100%;
        width: 100%;

        padding-inline: 50px;

        color: var(--md-sys-color-on-surface);
        text-align: center;

        overflow: hidden;
        pointer-events: none;
        transition: var(--md-sys-motion-duration-short4) var(--md-sys-motion-easing-standard);

        h1 {
          @include typescale-style("display-large", $font-size: 60rem, $font-weight: 200, $line-height: 78rem);

          transition: var(--md-sys-motion-duration-short4) var(--md-sys-motion-easing-standard);
          z-index: 1;
        }

        h4 {
          @include typescale-style("headline-large", $font-size: 22rem, $line-height: 22rem);

          z-index: 1;
        }

        .s-carousel-featured-tip {
          display: flex;
          align-items: center;

          position: absolute;

          color: var(--md-sys-color-inverse-surface);

          mix-blend-mode: soft-light;

          z-index: 0;

          .s-carousel-featured-tip-icon {
            @include material-symbols($size: 300);
          }
        }
      }

      &:nth-of-type(1) {
        clip-path: inset(0 0 0 0 round 12px);
        z-index: 10;

        .s-carousel-article-info h1 {
          @include typescale-style("display-large", $font-size: 60rem, $font-weight: 600, $line-height: 78rem);
        }
      }

      &:nth-of-type(2) {
        z-index: 9;
      }

      &:nth-of-type(3) {
        z-index: 8;
      }

      &:hover {
        .s-carousel-article-impression {
          opacity: 0.5;
        }
      }
    }

    &[data-scroll="1"] {
      .s-carousel-article {
        &:nth-of-type(2),
        &:nth-of-type(3) {
          clip-path: inset(0 0 0 0 round 12px);
          opacity: 0;

          .s-carousel-article-info h1 {
            @include typescale-style("display-large", $font-size: 60rem, $font-weight: 200, $line-height: 78rem);
          }
        }
      }
    }

    &[data-scroll="2"] {
      .s-carousel-article {
        &:nth-of-type(1) {
          clip-path: inset(0 calc(100% - 60px) 0 0 round 12px);
          opacity: 0;

          .s-carousel-article-info h1 {
            @include typescale-style("display-large", $font-size: 60rem, $font-weight: 200, $line-height: 78rem);
          }
        }

        &:nth-of-type(2) {
          clip-path: inset(0 0 0 0 round 12px);

          .s-carousel-article-info h1 {
            @include typescale-style("display-large", $font-size: 60rem, $font-weight: 600, $line-height: 78rem);
          }
        }

        &:nth-of-type(3) {
          clip-path: inset(0 0 0 calc(100% - 60px) round 12px);
          opacity: 0;
        }
      }
    }

    &[data-scroll="3"] {
      .s-carousel-article {
        &:nth-of-type(1) {
          clip-path: inset(0 0 0 calc(100% - 60px) round 12px);
          opacity: 0;
        }

        &:nth-of-type(2) {
          clip-path: inset(0 calc(100% - 60px) 0 0 round 12px);
          opacity: 0;

          .s-carousel-article-info h1 {
            @include typescale-style("display-large", $font-size: 60rem, $font-weight: 200, $line-height: 78rem);
          }
        }

        &:nth-of-type(3) {
          clip-path: inset(0 0 0 0 round 12px);

          .s-carousel-article-info h1 {
            @include typescale-style("display-large", $font-size: 60rem, $font-weight: 600, $line-height: 78rem);
          }
        }
      }
    }

    &:hover {
      .s-carousel-control {
        opacity: 1;
      }
    }
  }
}
