.JTM-S-Carousel {
  user-select: none;

  #JTM-S-Carousel-PostsList {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 540px;

    margin-block: 12px;
    margin-inline: 12px;

    position: relative;

    .JTM-S-Carousel-Control {
      @include material-symbols($size: 18px);

      height: calc(100% - 12px);
      width: 60px;

      margin-block: 6px;
      margin-inline: 6px;
      padding: 0;

      position: absolute;

      color: var(--md-sys-color-on-surface-variant);

      border-radius: 100px;
      border: none;

      background-color: var(--md-sys-color-surface-variant);

      cursor: pointer;
      opacity: 0;
      overflow: hidden;
      transition: var(--md-sys-motion-duration-short4) var(--md-sys-motion-easing-standard);
      z-index: 12;

      &:nth-of-type(1) {
        left: 0;
      }

      &:nth-of-type(2) {
        right: 0;
      }

      &:hover {
        opacity: 1;
      }

      &:active,
      &:focus {
        outline: none;

        opacity: 0.5;
      }
    }

    .JTM-S-Carousel-PostItem {
      flex-grow: 1;

      height: 100%;
      width: 100%;

      margin-inline-end: 6px;

      position: relative;

      border-radius: 36px;
      border: 3px solid transparent;

      background-color: var(--md-sys-color-surface-variant);

      overflow: hidden;
      transition: var(--md-sys-motion-duration-long4) var(--md-sys-motion-easing-emphasized);

      &:nth-of-type(3) {
        margin-inline-end: 0;
      }

      &:focus,
      &:focus-visible {
        outline: 3px solid var(--md-sys-color-outline);
        border: 3px solid transparent;

        transition: none;
      }

      JTM-E-Ripple {
        background-color: var(--md-sys-color-on-primary);
      }

      #JTM-S-Carousel-PostImpression {
        height: 100%;
        width: 100%;

        object-fit: cover;
        pointer-events: none;
        transition: var(--md-sys-motion-duration-medium4) var(--md-sys-motion-easing-standard);
      }

      #JTM-S-Carousel-PostInfo {
        margin-block: 30px;
        margin-inline: 30px;
        padding-block: 30px;
        padding-inline: 70px;

        position: absolute;
        bottom: 0;
        right: 0;

        color: var(--md-ref-palette-secondary10);
        font-family: Google Sans, Noto Sans SC;
        font-size: 60px;
        font-weight: 500;
        text-align: center;
        text-wrap: nowrap;

        border-radius: 30px;
        border: 1px solid var(--md-ref-palette-neutral90);

        background-color: #ffffff8a;

        backdrop-filter: blur(40px);
        overflow: hidden;
        pointer-events: none;
        transition: var(--md-sys-motion-duration-short4) var(--md-sys-motion-easing-standard);
      }
    }

    &[data-scroll="0"] {
      .JTM-S-Carousel-PostItem {
        &:nth-of-type(1) {
          width: calc(100% - 78px * 2);

          background-color: var(--md-sys-color-surface);

          #JTM-S-Carousel-PostImpression {
            opacity: 1;
          }

          #JTM-S-Carousel-PostInfo {
            font-size: 80px;

            transition: var(--md-sys-motion-duration-long4) var(--md-sys-motion-easing-standard);
          }
        }

        &:nth-of-type(2),
        &:nth-of-type(3) {
          width: 72px;

          pointer-events: none;

          #JTM-S-Carousel-PostImpression {
            filter: blur(60px);
          }

          #JTM-S-Carousel-PostInfo {
            opacity: 0;
          }
        }
      }
    }

    &[data-scroll="1"] {
      .JTM-S-Carousel-PostItem {
        &:nth-of-type(1),
        &:nth-of-type(3) {
          width: 72px;

          pointer-events: none;

          #JTM-S-Carousel-PostImpression {
            filter: blur(60px);
          }

          #JTM-S-Carousel-PostInfo {
            opacity: 0;
          }
        }

        &:nth-of-type(2) {
          width: calc(100% - 78px * 2);

          background-color: var(--md-sys-color-surface);

          #JTM-S-Carousel-PostImpression {
            opacity: 1;
          }

          #JTM-S-Carousel-PostInfo {
            font-size: 80px;

            transition: var(--md-sys-motion-duration-long4) var(--md-sys-motion-easing-standard);
          }
        }
      }
    }

    &[data-scroll="2"] {
      .JTM-S-Carousel-PostItem {
        &:nth-of-type(1),
        &:nth-of-type(2) {
          width: 72px;

          pointer-events: none;

          #JTM-S-Carousel-PostImpression {
            filter: blur(60px);
          }

          #JTM-S-Carousel-PostInfo {
            opacity: 0;
          }
        }

        &:nth-of-type(3) {
          width: calc(100% - 78px * 2);

          background-color: var(--md-sys-color-surface);

          #JTM-S-Carousel-PostImpression {
            opacity: 1;
          }

          #JTM-S-Carousel-PostInfo {
            font-size: 80px;

            transition: var(--md-sys-motion-duration-long4) var(--md-sys-motion-easing-standard);
          }
        }
      }
    }
  }
}
