.JTM-S-Header {
  display: grid;
  gap: 8px;
  grid-auto-flow: row;
  grid-template-columns: repeat(2, 1fr);

  height: 540px;

  margin-block: 12px;
  margin-inline: 12px;

  word-break: break-word;

  transition: 1s;

  #JTM-S-Header-HeroContainer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 12px;
    grid-column: span 1;
    justify-content: center;

    height: 100%;

    padding: 54px;

    color: var(--md-sys-color-on-secondary-container);

    border-radius: 10px;

    background-color: var(--md-sys-color-secondary-container);

    overflow: hidden;
    transition: background-color var(--md-sys-motion-duration-extra-long1) var(--md-sys-motion-easing-standard);

    #JTM-S-Header-HeroHeadline {
      @include typescale-style("display-large", $font-size: 110rem, $font-weight: bold, $line-height: 110rem);
      width: 100%;
    }

    #JTM-S-Header-HeroSubtitle {
      @include typescale-style("headline-large", $font-size: 22rem, $line-height: 22rem);
      width: 100%;
    }
  }

  #JTM-S-Header-Impression {
    grid-column: span 1;

    height: 100%;
    width: 100%;

    border-radius: 10px;

    overflow: hidden;

    img {
      @include JTM-E-UserSelect();

      height: 100%;
      width: 100%;

      object-fit: cover;
      pointer-events: none;
    }
  }
}
