.JTM-S-LoadingSplash {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  justify-content: center;

  height: calc(100% - 20px);
  width: calc(100% - 100px);

  position: fixed;
  left: 90px;
  top: 10px;

  color: var(--md-sys-color-on-surface);

  border-radius: 12px;

  background-color: var(--md-sys-color-surface-container-high);

  opacity: 1;
  transition: var(--md-sys-motion-duration-long1);
  z-index: 100;
}
