<!DOCTYPE html>
<html lang="zh-hans">
  {% include Head.liquid no_javascript = "true" %}
  <body class="JTM-Root" color="{{ page.color | default: site.color }}">
    {% include 404NotFound.liquid %}
  </body>
</html>