<!DOCTYPE html>
<html lang="zh-hans">
  {% include Head.liquid %}
  <body class="JTM-Root" color="{{ page.color | default: site.color }}">
    {% include LoadingSplash.liquid %}
    {% include UniversalLayout.liquid has_carousel = "true" %}
    {% include ScrollToTop.liquid %}
  </body>
</html>