<!DOCTYPE html>
<html lang="zh-hans">
  {% include Head.liquid %}
  <body class="JTM-Root" color="{{ page.color | default: site.color }}">
    {% if page.permalink == "/404.html" %}
      {% include 404NotFound.liquid %}
    {% else %}
      {% include LoadingSplash.liquid %}
      {% include UniversalLayout.liquid is_index = "true" %}
      {% include ScrollToTop.liquid %}
    {% endif %}
  </body>
</html>