&[spec="bar"] {
  flex-direction: row;

  bottom: 0px;

  height: 80px;
  width: 100%;

  overflow-y: hidden;
  z-index: 5;

  #navigation-Hero,
  #navigation-fab {
    display: none;
  }

  #navigation-destinations {
    align-items: center;
    flex-direction: row;
    justify-content: space-around;

    .navigation-segment-active {
      margin: 0px 4px 0px 4px;

      .navigation-destination-accent {
        height: 32px;
        width: 64px;

        margin: 0px 0px 4px 0px;
      }

      .navigation-destination-label {
        margin: 0px;
      }
    }

    .navigation-segment-inactive:hover {
      .navigation-destination-accent {
        width: 64px;
      }
    }
  }

  #navigation-drawer {
    top: 0px;
    left: 0px;

    height: calc(100% - 80px);

    padding-block-start: 64px;

    #navigation-drawer-close {
      display: block;

      position: fixed;
      top: 0px;
      left: 0px;

      margin: 12px 6px;
    }
  }
}
